#alarm_main {
    .alarm_main {
        padding-top: 140px;
        padding-bottom: 100px;
        background: url(../img/back_6.png);
        background-size: cover;
        background-position: center;
        #head {
            text-align: center;
            p {
                color: #ffffff;
                font-family: Roboto;
                font-size: 48px;
                font-weight: 300;
            }
            span {
                color: #ffffff;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
            }
            .form {
                background: inherit;
                width: 600px;
                height: auto;
                position: relative;
                overflow: hidden;
                padding: 50px;
                left: 50%;
                transform: translate(-50%);
                margin-top: 50px;
                &.v2 {
                    padding: 40px;
                    .timer {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        p {
                            color: #ffffff;
                            font-family: Roboto;
                            font-size: 48px;
                            font-weight: 300;
                            line-height: 24px;
                            margin: 0;
                        }
                    }
                    .span {
                        p {
                            margin-top: 30px;
                            color: #b8c2ce;
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 24px;
                        }
                    }
                }
                &::after {
                    content: '';
                    width: 650px;
                    height: 120%;
                    background: inherit;
                    position: absolute;
                    left: -25px;
                    top: -25px;
                    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.4);
                    filter: blur(10px);
                }
                .dis_grid {
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    height: 50px;
                    width: 85%;
                    left: 50%;
                    transform: translate(-50%);
                    z-index: 9;
                    .input_p {
                        width: 100%;
                        margin-right: -3px;
                    }
                }
                p {
                    color: #ffffff;
                    font-family: Roboto;
                    font-size: 24px;
                    font-weight: 400;
                    z-index: 9;
                    position: relative;
                }
                .button_blue {
                    z-index: 9;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 35%;
                    z-index: 9;
                    border-radius: 0;
                }
            }
        }
    }
    .menu_small {
        background-color: #eef2f6;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            li {
                list-style: none;
                a {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                }
                .button_blue {
                    a {
                        color: #ffffff;
                        font-family: Roboto;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }
        }
    }
    .who {
        padding: 100px 0;
        text-align: center;
        p {
            color: #333333;
            font-family: Roboto;
            font-size: 36px;
            font-weight: 300;
            margin-bottom: 50px;
        }
        .card-wrapper {
            min-height: 400px;
            .card-rotating {
                .face {
                    box-shadow: 0 5px 13px rgba(19, 19, 19, 0.09); // background-color: #ffffff;
                    display: grid;
                    align-items: center;
                    a {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                    }
                    p {
                        color: #333333;
                        font-family: Roboto;
                        font-size: 24px;
                        font-weight: 400;
                        margin-top: 25px;
                        margin: 0;
                        margin-bottom: 15px;
                    }
                    &.back {
                        background: url(../img/back_7.png);
                        background-position: center;
                        background-size: 140%;
                        padding: 40px;
                        .card-body {
                            padding: 0;
                        }
                    }
                }
            }
        }
        .dis_grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;
        }
    }
    .us {
        padding: 120px 0;
        background: url(../img/back_8.png);
        background-size: cover;
        background-position: center;
        p {
            color: #ffffff;
            font-family: Roboto;
            font-size: 30px;
            font-weight: 300;
            margin: 0;
        }
        span {
            color: #ffffff;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
        }
        .container {
            display: grid;
            grid-template-columns: 3fr 2fr;
            .dis_grid {
                display: flex;
                position: relative;
                height: 50px;
                align-items: center;
                justify-content: space-between;
                .input_p {
                    width: 100%;
                    margin-right: -3px;
                }
                .button_blue {
                    width: 50%;
                    border-radius: 0;
                    z-index: 9;
                }
            }
        }
    }
    .pos {
        text-align: center;
        padding: 100px 0;
        background: url(../img/back_9.png);
        background-size: cover;
        background-position: center;
        p {
            color: #333333;
            font-family: Roboto;
            font-size: 36px;
            font-weight: 300;
            line-height: 46px;
        }
        .dis_grid {
            display: grid;
            grid-template-columns: 3fr 2fr;
            text-align: left;
            grid-gap: 30px;
            p {
                color: #333333;
                font-family: Roboto;
                font-size: 28px;
                font-weight: 400;
                margin-bottom: 60px;
            }
            ul {
                li {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 50px;
                    list-style: url(../img/icon/ellips.png);
                }
            }
            .card {
                padding: 60px;
            }
            .card_grid {
                display: grid;
                grid-gap: 30px;
                .card {
                    padding: 40px;
                    p {
                        margin-bottom: 10px;
                    }
                }
                ul {
                    li {
                        line-height: 30px;
                    }
                }
            }
        }
    }
    .work {
        padding: 100px 0;
        text-align: center;
        p {
            color: #333333;
            font-family: Roboto;
            font-size: 36px;
            font-weight: 300;
            line-height: 46px;
            margin-bottom: 65px;
        }
        .card_work {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;
            position: relative;
            text-align: left;
            .card_1 {
                padding: 35px;
                height: 550px;
                text-align: left;
                display: grid;
                grid-template-rows: 1fr auto;
                p {
                    color: #ffffff;
                    font-family: Roboto;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 30px;
                    margin: 5px;
                }
                span {
                    color: #ffffff;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 30px;
                    left: 0;
                    bottom: 0;
                }
                &.v1 {
                    background: url(../img/img_1.png);
                    background-size: cover;
                    background-position: center;
                }
                &.v2 {
                    background: url(../img/img_2.png);
                    background-size: cover;
                    background-position: center;
                }
                &.v3 {
                    background: url(../img/img_3.png);
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
    .accar {
        text-align: center;
        padding: 70px 0;
        background: url(../img/back_9.png);
        background-size: cover;
        background-position: center;
        p {
            color: #333333;
            font-family: Roboto;
            font-size: 36px;
            font-weight: 300;
            line-height: 46px;
            margin-bottom: 70px;
        }
        .accordion {
            display: grid;
            grid-gap: 20px;
            .card {
                padding: 0;
                .card-header {
                    text-align: left;
                    .mb-0 {
                        color: #333333;
                        font-family: Roboto;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
                .card-body {
                    text-align: left;
                    color: #333333;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
    }
    .history {
        padding: 100px;
        p {
            text-align: center;
            color: #333333;
            font-family: Roboto;
            font-size: 36px;
            font-weight: 300;
            line-height: 46px;
            margin-bottom: 40px;
        }
        .accordion {
            .button_blue {
                color: #ffffff;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
            }
            .card {
                border: 0;
                padding: 0;
                .card-body {
                    padding: 0;
                }
                .card-header {
                    display: grid;
                    justify-content: center;
                }
            }
        }
        .card_news {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;
            height: 300px;
            overflow: hidden;
            &.open {
                height: auto;
                transition: all .5s;
            }
            .new {
                height: 280px;
                position: relative;
                text-align: left;
                cursor: pointer;
                transition: all .4s;
                overflow: hidden;
                display: flex;
                align-items: flex-end;
                .img {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    left: 0;
                    img {
                        width: 100%;
                    }
                }
                .text {
                    position: relative;
                    z-index: 9;
                    padding: 0 25px;
                    max-height: max-content;
                    bottom: 0;
                    p {
                        margin-bottom: 25px;
                    }
                }
            }
            p {
                color: #ffffff;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 400;
                line-height: 26px;
                text-align: left;
                margin-bottom: 25px;
            }
            .span {
                p {
                    color: #ffffff;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 24px;
                }
            }
        }
    }
    .otzyv {
        padding-bottom: 100px;
        p {
            text-align: center;
            color: #333333;
            font-family: Roboto;
            font-size: 36px;
            font-weight: 300;
            line-height: 46px;
            margin-bottom: 40px;
        }
        .com {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 30px;
            align-items: start;
            .pos_1 {
                display: grid;
                grid-gap: 40px;
                .textarea_p {
                    margin-bottom: 20px;
                    textarea {
                        height: 100% !important;
                    }
                }
                .button_blue {
                    float: right;
                }
            }
            .user {
                text-align: left;
                display: flex;
                align-items: center;
                .img {
                    width: 70px;
                    height: 70px;
                    overflow: hidden;
                    border-radius: 50%;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    margin-right: 15px;
                    img {
                        width: 100%;
                    }
                }
                .text {
                    p {
                        color: #333333;
                        font-family: Roboto;
                        font-size: 18px;
                        font-weight: 400;
                        margin: 0;
                        margin-bottom: 10px;
                        text-align: left;
                        line-height: normal;
                    }
                    .span {
                        p {
                            color: #7d7d7d;
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }
            }
            .comen {
                p {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: left;
                    margin: 0;
                }
                padding: 20px 0;
                border-bottom: 1px solid #00437c;
            }
        }
        .accordion {
            .card {
                box-shadow: none !important;
                padding: 0;
                border: 0;
                .card-body {
                    padding: 0;
                }
                .button_blue {
                    margin-top: 45px;
                }
                .card-header {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

#alarm {
    padding-bottom: 100px;
    .alarm {
        .path {
            p {
                color: #9299a2;
                font-family: Roboto;
                font-size: 12px;
                font-weight: 400;
                margin: 30px 0;
            }
        }
        .card_man {
            margin-bottom: 30px;
        }
        .dbl_pos {
            display: grid;
            grid-template-columns: 1fr 260px;
            grid-gap: 30px;
            .text {
                p {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
            .img {
                img {
                    width: 100%;
                    margin: 40px 0;
                }
            }
            .create {
                text-align: center;
                .text {
                    padding: 45px 23px;
                    background: url(../img/back_3.png);
                    background-size: 140%;
                    background-position: center;
                }
                p {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 34px;
                    line-height: 24px;
                    margin-bottom: 5px;
                }
                .button_blue {
                    width: 100%;
                }
            }
        }
    }
}

#history {
    #petition {
        .main_pos {
            .main_tab {
                .tab-content {
                    .tab-pane {
                        background: #fff;
                        ul {
                            grid-template-columns: 1fr 2fr 2fr 2fr;
                            width: 50%;
                        }
                    }
                }
                .create {
                    text-align: center;
                    margin-top: 50px;
                    .text {
                        padding: 45px 15px;
                        background: url(../img/back_3.png);
                        background-size: 140%;
                        background-position: center;
                        p {
                            color: #333333;
                            font-family: Roboto;
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 34px;
                            margin: 0;
                        }
                    }
                    .button_blue {
                        width: 100%;
                    }
                }
            }
            .copy_2 {
                .tab-pane {
                    background: #fff;
                }
                .news_card {
                    display: grid;
                    grid-template-columns: 1fr 3fr;
                    grid-gap: 30px;
                    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04);
                    background-color: #ffffff;
                    .img {
                        img {
                            width: 100%;
                        }
                    }
                    p {
                        color: #9299a2;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 26px;
                    }
                    h3 {
                        color: #333333;
                        font-family: Roboto;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 26px;
                    }
                    span {
                        color: #333333;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
                .pagination {
                    width: 60% !important;
                }
            }
        }
    }
}