#alarm_main .alarm_main {
  padding-top: 140px;
  padding-bottom: 100px;
  background: url(../img/back_6.png);
  background-size: cover;
  background-position: center;
}
#alarm_main .alarm_main #head {
  text-align: center;
}
#alarm_main .alarm_main #head p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
}
#alarm_main .alarm_main #head span {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
#alarm_main .alarm_main #head .form {
  background: inherit;
  width: 600px;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 50px;
  left: 50%;
  transform: translate(-50%);
  margin-top: 50px;
}
#alarm_main .alarm_main #head .form.v2 {
  padding: 40px;
}
#alarm_main .alarm_main #head .form.v2 .timer {
  display: flex;
  align-items: center;
  justify-content: center;
}
#alarm_main .alarm_main #head .form.v2 .timer p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
}
#alarm_main .alarm_main #head .form.v2 .span p {
  margin-top: 30px;
  color: #b8c2ce;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
#alarm_main .alarm_main #head .form::after {
  content: '';
  width: 650px;
  height: 120%;
  background: inherit;
  position: absolute;
  left: -25px;
  top: -25px;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.4);
  filter: blur(10px);
}
#alarm_main .alarm_main #head .form .dis_grid {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 50px;
  width: 85%;
  left: 50%;
  transform: translate(-50%);
  z-index: 9;
}
#alarm_main .alarm_main #head .form .dis_grid .input_p {
  width: 100%;
  margin-right: -3px;
}
#alarm_main .alarm_main #head .form p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  z-index: 9;
  position: relative;
}
#alarm_main .alarm_main #head .form .button_blue {
  position: absolute;
  right: 0;
  top: 0;
  width: 35%;
  z-index: 9;
  border-radius: 0;
}
#alarm_main .menu_small {
  background-color: #eef2f6;
}
#alarm_main .menu_small ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
#alarm_main .menu_small ul li {
  list-style: none;
}
#alarm_main .menu_small ul li a {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
#alarm_main .menu_small ul li .button_blue a {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#alarm_main .who {
  padding: 100px 0;
  text-align: center;
}
#alarm_main .who p {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 50px;
}
#alarm_main .who .card-wrapper {
  min-height: 400px;
}
#alarm_main .who .card-wrapper .card-rotating .face {
  box-shadow: 0 5px 13px rgba(19, 19, 19, 0.09);
  display: grid;
  align-items: center;
}
#alarm_main .who .card-wrapper .card-rotating .face a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
#alarm_main .who .card-wrapper .card-rotating .face p {
  color: #333333;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  margin-top: 25px;
  margin: 0;
  margin-bottom: 15px;
}
#alarm_main .who .card-wrapper .card-rotating .face.back {
  background: url(../img/back_7.png);
  background-position: center;
  background-size: 140%;
  padding: 40px;
}
#alarm_main .who .card-wrapper .card-rotating .face.back .card-body {
  padding: 0;
}
#alarm_main .who .dis_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
#alarm_main .us {
  padding: 120px 0;
  background: url(../img/back_8.png);
  background-size: cover;
  background-position: center;
}
#alarm_main .us p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}
#alarm_main .us span {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}
#alarm_main .us .container {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
#alarm_main .us .container .dis_grid {
  display: flex;
  position: relative;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
#alarm_main .us .container .dis_grid .input_p {
  width: 100%;
  margin-right: -3px;
}
#alarm_main .us .container .dis_grid .button_blue {
  width: 50%;
  border-radius: 0;
  z-index: 9;
}
#alarm_main .pos {
  text-align: center;
  padding: 100px 0;
  background: url(../img/back_9.png);
  background-size: cover;
  background-position: center;
}
#alarm_main .pos p {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  line-height: 46px;
}
#alarm_main .pos .dis_grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  text-align: left;
  grid-gap: 30px;
}
#alarm_main .pos .dis_grid p {
  color: #333333;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 60px;
}
#alarm_main .pos .dis_grid ul li {
  color: #333333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  list-style: url(../img/icon/ellips.png);
}
#alarm_main .pos .dis_grid .card {
  padding: 60px;
}
#alarm_main .pos .dis_grid .card_grid {
  display: grid;
  grid-gap: 30px;
}
#alarm_main .pos .dis_grid .card_grid .card {
  padding: 40px;
}
#alarm_main .pos .dis_grid .card_grid .card p {
  margin-bottom: 10px;
}
#alarm_main .pos .dis_grid .card_grid ul li {
  line-height: 30px;
}
#alarm_main .work {
  padding: 100px 0;
  text-align: center;
}
#alarm_main .work p {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  line-height: 46px;
  margin-bottom: 65px;
}
#alarm_main .work .card_work {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  position: relative;
  text-align: left;
}
#alarm_main .work .card_work .card_1 {
  padding: 35px;
  height: 550px;
  text-align: left;
  display: grid;
  grid-template-rows: 1fr auto;
}
#alarm_main .work .card_work .card_1 p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin: 5px;
}
#alarm_main .work .card_work .card_1 span {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  left: 0;
  bottom: 0;
}
#alarm_main .work .card_work .card_1.v1 {
  background: url(../img/img_1.png);
  background-size: cover;
  background-position: center;
}
#alarm_main .work .card_work .card_1.v2 {
  background: url(../img/img_2.png);
  background-size: cover;
  background-position: center;
}
#alarm_main .work .card_work .card_1.v3 {
  background: url(../img/img_3.png);
  background-size: cover;
  background-position: center;
}
#alarm_main .accar {
  text-align: center;
  padding: 70px 0;
  background: url(../img/back_9.png);
  background-size: cover;
  background-position: center;
}
#alarm_main .accar p {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  line-height: 46px;
  margin-bottom: 70px;
}
#alarm_main .accar .accordion {
  display: grid;
  grid-gap: 20px;
}
#alarm_main .accar .accordion .card {
  padding: 0;
}
#alarm_main .accar .accordion .card .card-header {
  text-align: left;
}
#alarm_main .accar .accordion .card .card-header .mb-0 {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#alarm_main .accar .accordion .card .card-body {
  text-align: left;
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
#alarm_main .history {
  padding: 100px;
}
#alarm_main .history p {
  text-align: center;
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  line-height: 46px;
  margin-bottom: 40px;
}
#alarm_main .history .accordion .button_blue {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#alarm_main .history .accordion .card {
  border: 0;
  padding: 0;
}
#alarm_main .history .accordion .card .card-body {
  padding: 0;
}
#alarm_main .history .accordion .card .card-header {
  display: grid;
  justify-content: center;
}
#alarm_main .history .card_news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  height: 300px;
  overflow: hidden;
}
#alarm_main .history .card_news.open {
  height: auto;
  transition: all .5s;
}
#alarm_main .history .card_news .new {
  height: 280px;
  position: relative;
  text-align: left;
  cursor: pointer;
  transition: all .4s;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}
#alarm_main .history .card_news .new .img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
#alarm_main .history .card_news .new .img img {
  width: 100%;
}
#alarm_main .history .card_news .new .text {
  position: relative;
  z-index: 9;
  padding: 0 25px;
  max-height: max-content;
  bottom: 0;
}
#alarm_main .history .card_news .new .text p {
  margin-bottom: 25px;
}
#alarm_main .history .card_news p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin-bottom: 25px;
}
#alarm_main .history .card_news .span p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
#alarm_main .otzyv {
  padding-bottom: 100px;
}
#alarm_main .otzyv p {
  text-align: center;
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  line-height: 46px;
  margin-bottom: 40px;
}
#alarm_main .otzyv .com {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  align-items: start;
}
#alarm_main .otzyv .com .pos_1 {
  display: grid;
  grid-gap: 40px;
}
#alarm_main .otzyv .com .pos_1 .textarea_p {
  margin-bottom: 20px;
}
#alarm_main .otzyv .com .pos_1 .textarea_p textarea {
  height: 100% !important;
}
#alarm_main .otzyv .com .pos_1 .button_blue {
  float: right;
}
#alarm_main .otzyv .com .user {
  text-align: left;
  display: flex;
  align-items: center;
}
#alarm_main .otzyv .com .user .img {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
#alarm_main .otzyv .com .user .img img {
  width: 100%;
}
#alarm_main .otzyv .com .user .text p {
  color: #333333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
  text-align: left;
  line-height: normal;
}
#alarm_main .otzyv .com .user .text .span p {
  color: #7d7d7d;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
#alarm_main .otzyv .com .comen {
  padding: 20px 0;
  border-bottom: 1px solid #00437c;
}
#alarm_main .otzyv .com .comen p {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 0;
}
#alarm_main .otzyv .accordion .card {
  box-shadow: none !important;
  padding: 0;
  border: 0;
}
#alarm_main .otzyv .accordion .card .card-body {
  padding: 0;
}
#alarm_main .otzyv .accordion .card .button_blue {
  margin-top: 45px;
}
#alarm_main .otzyv .accordion .card .card-header {
  display: flex;
  justify-content: center;
}
#alarm {
  padding-bottom: 100px;
}
#alarm .alarm .path p {
  color: #9299a2;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  margin: 30px 0;
}
#alarm .alarm .card_man {
  margin-bottom: 30px;
}
#alarm .alarm .dbl_pos {
  display: grid;
  grid-template-columns: 1fr 260px;
  grid-gap: 30px;
}
#alarm .alarm .dbl_pos .text p {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
#alarm .alarm .dbl_pos .img img {
  width: 100%;
  margin: 40px 0;
}
#alarm .alarm .dbl_pos .create {
  text-align: center;
}
#alarm .alarm .dbl_pos .create .text {
  padding: 45px 23px;
  background: url(../img/back_3.png);
  background-size: 140%;
  background-position: center;
}
#alarm .alarm .dbl_pos .create p {
  color: #333333;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  line-height: 24px;
  margin-bottom: 5px;
}
#alarm .alarm .dbl_pos .create .button_blue {
  width: 100%;
}
#history #petition .main_pos .main_tab .tab-content .tab-pane {
  background: #fff;
}
#history #petition .main_pos .main_tab .tab-content .tab-pane ul {
  grid-template-columns: 1fr 2fr 2fr 2fr;
  width: 50%;
}
#history #petition .main_pos .main_tab .create {
  text-align: center;
  margin-top: 50px;
}
#history #petition .main_pos .main_tab .create .text {
  padding: 45px 15px;
  background: url(../img/back_3.png);
  background-size: 140%;
  background-position: center;
}
#history #petition .main_pos .main_tab .create .text p {
  color: #333333;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin: 0;
}
#history #petition .main_pos .main_tab .create .button_blue {
  width: 100%;
}
#history #petition .main_pos .copy_2 .tab-pane {
  background: #fff;
}
#history #petition .main_pos .copy_2 .news_card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 30px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}
#history #petition .main_pos .copy_2 .news_card .img img {
  width: 100%;
}
#history #petition .main_pos .copy_2 .news_card p {
  color: #9299a2;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#history #petition .main_pos .copy_2 .news_card h3 {
  color: #333333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
#history #petition .main_pos .copy_2 .news_card span {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
#history #petition .main_pos .copy_2 .pagination {
  width: 60% !important;
}
