.dbl_button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.button_red {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 62px rgba(196, 71, 86, 0.5);
    border-radius: 2px;
    background-color: #c44756;
    cursor: pointer;
    transition: all .4s;
    p {
        color: #ffffff;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin: 0;
    }
    &:hover {
        border: 1px solid #c44756;
        background: #fff;
        p {
            color: #c44756;
        }
    }
}

.button_red_v2 {
    width: 260px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background-color: #c44756;
    cursor: pointer;
    transition: all .4s;
    p {
        color: #ffffff !important;
        font-family: Roboto;
        font-size: 16px !important;
        font-weight: 500 !important;
        line-height: 24px !important;
        margin: 0 !important;
    }
    &:hover {
        background: darken(#c44756, 15%);
    }
}

.button_blue {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background-color: #00437c;
    cursor: pointer;
    transition: all .4s;
    color: #ffffff !important;
    font-family: Roboto;
    font-size: 16px !important;
    p {
        color: #ffffff !important;
        font-family: Roboto;
        font-size: 16px !important;
        font-weight: 500 !important;
        line-height: 24px !important;
        margin: 0 !important;
    }
    a {
        color: #fff;
    }
    &:hover {
        background-color: lighten(#00437c, 5%);
        p {
            color: #fff;
        }
        a {
            color: #fff;
        }
    }
}

.button_white {
    width: 200px;
    height: 50px;
    border-radius: 2px;
    border: 1px solid #333333;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    cursor: pointer;
    p {
        color: #333333;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
    a {
        color: #333333;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
}

.button_regis {
    height: 35px;
    border-radius: 2px;
    border: 1px solid #00437c;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    &:hover {
        background: #0285f828;
    }
    a {
        color: #00437c;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        padding: 0 25px;
    }
}

.comment {
    display: flex;
    align-items: center;
    img {
        margin-right: 10px;
    }
    p {
        color: #69809b !important;
        font-family: Roboto;
        font-size: 14px !important;
        font-weight: 500 !important;
        line-height: 26px !important;
    }
}

.plus_red {
    width: 90px;
    height: 50px;
    background-color: #ffe6e9;
    p {
        color: #c44756 !important;
        font-family: Roboto;
        font-size: 18px !important;
        font-weight: 500 !important;
        line-height: 24px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 25px;
    }
    img {
        margin-right: 7px;
    }
}

.plus_green {
    width: 90px;
    height: 50px;
    background-color: #d9fee7;
    p {
        color: #00ac84 !important;
        font-family: Roboto;
        font-size: 18px !important;
        font-weight: 500 !important;
        line-height: 24px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 25px;
    }
    img {
        margin-right: 7px;
    }
}

.plus_red_v2 {
    cursor: pointer;
    p {
        color: #69809b !important;
        font-family: Roboto;
        font-size: 14px !important;
        font-weight: 500 !important;
        line-height: 24px !important;
        img {
            width: 17px;
            margin-right: 5px;
        }
    }
}

.plus_green_v2 {
    cursor: pointer;
    p {
        color: #69809b !important;
        font-family: Roboto;
        font-size: 14px !important;
        font-weight: 500 !important;
        line-height: 24px !important;
        img {
            width: 17px;
            margin-right: 5px;
        }
    }
}

.dio_line {
    p {
        color: #00437c !important;
        font-family: Roboto;
        font-size: 16px !important;
        font-weight: 400 !important;
        margin-bottom: 10px !important;
    }
    span {
        color: #69809b !important;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400 !important;
        line-height: 24px !important;
    }
    .line {
        display: flex;
        position: relative;
        width: 100%;
        height: 15px;
        align-items: center;
        p {
            color: #333333 !important;
            font-family: Roboto;
            font-size: 16px !important;
            font-weight: 400;
            line-height: 24px !important;
            margin: 0;
            margin: 0 !important;
            margin-left: 5px !important;
        }
        .green_line {
            border-radius: 3px;
            background-color: #00ac84;
            height: 5px;
            width: 65%;
        }
        .green_red {
            border-radius: 3px;
            background-color: #ef818a;
            height: 5px;
            width: 35%;
        }
    }
}

.line_blue {
    width: 100%;
    height: 1px;
    background-color: #7ba0d6;
}

.number {
    width: 50px;
    height: 50px;
    background-color: #ebf5ff;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        color: #00437c;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        margin: 0;
    }
}