.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  height: 70vh;
}
.card {
  padding: 30px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04) !important;
  background-color: #ffffff;
}
.card p {
  color: #333333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
.card .input_p {
  height: 50px;
  border-radius: 2px;
  border: 1px solid #69809b;
  background-color: #ffffff;
  padding-left: 15px;
  margin-bottom: 30px;
}
.card .input_p .md-form {
  margin: 0;
  height: 100%;
}
.card .input_p .md-form label {
  top: -8px;
  color: #9299a2;
}
.card .input_p .md-form label.active {
  transform: translateY(-50%);
}
.card .input_p .md-form input {
  padding-top: 0;
  margin: 0;
  position: relative;
  bottom: 0;
  padding: 0;
  height: 25px;
  margin-top: 20px;
  border: 0;
  box-shadow: unset;
}
.card {
  padding: 30px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  border: 0;
  padding-right: 0;
}
.card .text {
  padding-right: 45px;
}
.card .text .text_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  width: 100%;
}
.card .text .text_1 p {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}
.card .text .text_1 span {
  color: #9299a2;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.card .text .text_1 li {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}
.card .text .text_2 p {
  color: #333333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.card .text .text_2 span {
  color: #00437c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.card .text .text_3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin-top: 30px;
}
.card .text .text_3 p {
  color: #69809b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  margin: 0;
}
.card .text .text_3 .podpis {
  display: flex;
  align-items: center;
}
.card .text .text_3 .podpis img {
  margin-right: 10px;
}
.card .text .text_3 .podpis p {
  color: #69809b !important;
  font-family: Roboto;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 26px !important;
}
.card .text .text_3 .comment {
  display: flex;
  align-items: center;
}
.card .text .text_3 .comment img {
  margin-right: 10px;
}
.card .text_v2 {
  text-align: center;
  border-left: 1px solid #c2d1e6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .text_v2 p {
  color: #9299a2;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
}
.card .text_v2 span {
  color: #00437c;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 300;
  line-height: 26px;
}
.card .text_v2 h3 {
  color: #00437c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}
.commit {
  padding: 50px 0;
  display: grid;
  grid-gap: 30px;
}
.commit .comet {
  display: grid;
  width: 100%;
  grid-template-columns: 60px 1fr;
}
.commit .comet .md-form {
  margin: 0;
}
.commit .comet .md-form input:focus {
  -webkit-box-shadow: 0 1px 0 0 #00437c;
  box-shadow: 0 1px 0 0 #00437c;
  border-bottom: 1px solid #00437c;
}
.commit .comet .md-form label.active {
  color: #00437c;
}
.commit .comet .name {
  display: flex;
}
.commit .comet .name p {
  color: #69809b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}
.commit .comet .name span {
  color: #9299a2;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 35px;
}
.commit .comet .text {
  padding: 10px 0;
}
.commit .comet .text p {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.commit .comet .comet_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 30%;
}
.commit .comet .comet_1 a {
  color: #9299a2;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.commit .comet .md-accordion {
  padding: 15px 0;
  padding-bottom: 0;
}
.commit .comet .md-accordion h5.mb-0 {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.commit .comet .md-accordion .card-body {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
.commit p {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
.commit .img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.commit .img img {
  width: 100%;
  position: relative;
}
.mdb-select input {
  margin: 0;
  border: 0;
  width: 60px;
  color: #373737;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.mdb-select .caret {
  display: none;
}
.mdb-select .dropdown-content {
  height: auto;
  width: auto !important;
}
.input_p {
  height: 50px;
  padding-left: 15px;
  border-radius: 2px;
  border: 1px solid #9299a2;
  background-color: #ffffff;
  position: relative;
}
.input_p .md-form {
  margin: 0;
  height: 100%;
}
.input_p .md-form label {
  top: -8px;
  color: #9299a2;
}
.input_p .md-form label.active {
  transform: translateY(-50%);
}
.input_p .md-form input {
  padding-top: 0 !important;
  margin: 0 !important;
  position: relative;
  bottom: 0 !important;
  padding: 0 !important;
  height: 25px !important;
  margin-top: 20px !important;
  border: 0 !important;
  box-shadow: unset !important;
}
.input_p.error {
  border: 1px solid #c44756;
}
.input_p.error p {
  color: #c44756 !important;
  font-family: Roboto;
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  margin: 0;
  margin-top: -20px;
  margin-left: -15px;
}
.button_regis:hover {
  background: #0285f828;
}
.button_regis:hover a {
  color: #fff !important;
}
.button_red_v2 a {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
button {
  border: 0;
  color: #fff;
}
.front.v1 {
  box-shadow: none !important;
}
.back.v1 {
  box-shadow: none !important;
}
#second,
#minut {
  color: #ffffff;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
  line-height: 24px;
}
#second p,
#minut p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
  line-height: 24px;
}
.textarea_p {
  height: 150px;
  padding-left: 15px;
  border-radius: 2px;
  border: 1px solid #9299a2;
  background-color: #ffffff;
  position: relative;
  padding-top: 15px;
}
.textarea_p .form-control {
  width: 100%;
  height: 100%;
  border: 0;
}
.textarea_p .md-form {
  margin: 0;
  height: 100%;
}
.textarea_p .md-form label {
  top: -8px;
  color: #9299a2;
}
.textarea_p .md-form label.active {
  transform: translateY(-50%);
}
.textarea_p .md-form input {
  padding-top: 0 !important;
  margin: 0 !important;
  position: relative;
  bottom: 0 !important;
  padding: 0 !important;
  height: 25px !important;
  margin-top: 20px !important;
  border: 0 !important;
  box-shadow: unset !important;
}
.card .input_p.input_text {
  width: 100%;
  height: 200px;
  border-radius: 2px;
  border: 1px solid #9299a2;
  background-color: #ffffff;
  padding: 15px;
}
.card .input_p.input_text .md-form label {
  top: -5px;
}
.card .input_p.input_text textarea {
  height: 100%;
  width: 100%;
  border: 0;
}
.radio {
  display: grid;
  grid-gap: 15px;
}
.radio label {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
.servic_pos {
  width: 265px;
  height: 200px;
  box-shadow: 0 3px 21px rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
  position: absolute;
  z-index: 999;
  top: 60px;
  right: 30%;
}
.servic_pos ul {
  height: 100%;
  padding: 0;
}
.servic_pos ul li {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
}
.servic_pos ul li a {
  color: #373737;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 25px;
}
.servic_pos ul li a:hover {
  background-color: #ebf5ff;
}
.servic_pos_user {
  width: 265px;
  height: 100px;
  box-shadow: 0 3px 21px rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
}
.servic_pos_user ul {
  height: 100%;
  padding: 0;
}
.servic_pos_user ul li {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
}
.servic_pos_user ul li a {
  color: #373737;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 25px;
}
.servic_pos_user ul li a:hover {
  background-color: #ebf5ff;
}
.search_card {
  width: 70%;
}
.search_card p {
  color: #333333 !important;
  font-family: Roboto;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 26px !important;
  margin-bottom: 10px !important;
  cursor: pointer;
}
.search_card a {
  color: #00437c !important;
  font-family: Roboto;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 26px !important;
  cursor: pointer;
}
.step .steps-form {
  display: table;
  width: 100%;
  position: relative;
}
.step .steps-form .steps-row {
  display: grid;
  grid-template-columns: 4fr 4fr 3fr;
  justify-content: center;
  align-items: center;
}
.step .steps-form .steps-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.step .steps-form .steps-row .steps-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.step .steps-form .steps-row .steps-step p {
  margin-top: 0.5rem;
}
.step .steps-form .steps-row .steps-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.step .steps-form .steps-row .steps-step .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 0;
  margin-top: 0;
}
.card_man {
  padding: 30px;
  background: url('../img/back_4.png');
  background-size: cover;
  padding-bottom: 70px;
  background-position: center;
}
.card_man p {
  color: #00437c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 15px;
}
.card_man span {
  color: #333333;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.card_man span::before {
  background: #fff;
  content: "";
  filter: blur(60px);
  width: 70vh;
  height: 190%;
  top: -25px;
  position: absolute;
  left: 0;
  z-index: -1;
}
