.modal-open {
    .modal {
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        width: 100%;
        height: 70vh;
    }
}

.card {
    padding: 30px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04) !important;
    background-color: #ffffff;
    p {
        color: #333333;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
    }
    .input_p {
        height: 50px;
        border-radius: 2px;
        border: 1px solid #69809b;
        background-color: #ffffff;
        padding-left: 15px;
        margin-bottom: 30px;
        .md-form {
            margin: 0;
            height: 100%;
            label {
                top: -8px;
                color: #9299a2;
                &.active {
                    transform: translateY(-50%);
                }
            }
            input {
                padding-top: 0;
                margin: 0;
                margin: 0;
                position: relative;
                bottom: 0;
                padding: 0;
                height: 25px;
                margin-top: 20px;
                border: 0;
                box-shadow: unset;
            }
        }
    }
}

.card {
    padding: 30px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    border: 0;
    padding-right: 0;
    .text {
        padding-right: 45px;
        .text_1 {
            display: grid;
            grid-template-columns: 1fr 1fr 2fr;
            width: 100%;
            p {
                color: #333333;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
                margin: 0;
            }
            span {
                color: #9299a2;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
            }
            li {
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                line-height: 26px;
            }
        }
        .text_2 {
            p {
                color: #333333;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 400;
                line-height: 26px;
            }
            span {
                color: #00437c;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
            }
        }
        .text_3 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 70%;
            margin-top: 30px;
            p {
                color: #69809b;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                line-height: 26px;
                margin: 0;
            }
            .podpis {
                display: flex;
                align-items: center;
                img {
                    margin-right: 10px;
                }
                p {
                    color: #69809b !important;
                    font-family: Roboto;
                    font-size: 14px !important;
                    font-weight: 500 !important;
                    line-height: 26px !important;
                }
            }
            .comment {
                display: flex;
                align-items: center;
                img {
                    margin-right: 10px;
                }
            }
        }
    }
    .text_v2 {
        text-align: center;
        border-left: 1px solid #c2d1e6;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            color: #9299a2;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            line-height: 60px;
        }
        span {
            color: #00437c;
            font-family: Roboto;
            font-size: 60px;
            font-weight: 300;
            line-height: 26px;
        }
        h3 {
            color: #00437c;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 15px;
        }
    }
}

.commit {
    padding: 50px 0;
    display: grid;
    grid-gap: 30px;
    .comet {
        display: grid;
        width: 100%;
        grid-template-columns: 60px 1fr;
        .md-form {
            margin: 0;
            input {
                &:focus {
                    -webkit-box-shadow: 0 1px 0 0 #00437c;
                    box-shadow: 0 1px 0 0 #00437c;
                    border-bottom: 1px solid #00437c;
                }
            }
            label {
                &.active {
                    color: #00437c;
                }
            }
        }
        .name {
            display: flex;
            p {
                color: #69809b;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                line-height: 26px;
            }
            span {
                color: #9299a2;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
                padding-left: 35px;
            }
        }
        .text {
            padding: 10px 0;
            p {
                color: #333333;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
            }
        }
        .comet_1 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 30%;
            a {
                color: #9299a2;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
            }
        }
        .md-accordion {
            padding: 15px 0;
            padding-bottom: 0;
            h5 {
                &.mb-0 {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                }
            }
            .card-body {
                padding-right: 0;
                padding-left: 0;
                padding-bottom: 0;
            }
        }
    }
    p {
        color: #333333;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
    }
    .img {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
            position: relative
        }
    }
}

.mdb-select {
    input {
        margin: 0;
        border: 0;
        width: 60px;
        color: #373737;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    .caret {
        display: none;
    }
    .dropdown-content {
        height: auto;
        width: auto !important;
    }
}

.input_p {
    height: 50px;
    padding-left: 15px;
    border-radius: 2px;
    border: 1px solid #9299a2;
    background-color: #ffffff;
    position: relative;
    .md-form {
        margin: 0;
        height: 100%;
        label {
            top: -8px;
            color: #9299a2;
            &.active {
                transform: translateY(-50%);
            }
        }
        input {
            padding-top: 0 !important;
            margin: 0 !important;
            margin: 0 !important;
            position: relative;
            bottom: 0 !important;
            padding: 0 !important;
            height: 25px !important;
            margin-top: 20px !important;
            border: 0 !important;
            box-shadow: unset !important;
        }
    }
}

.input_p {
    &.error {
        border: 1px solid #c44756;
        p {
            color: #c44756 !important;
            font-family: Roboto;
            font-size: 12px !important;
            font-weight: 400 !important;
            line-height: 24px !important;
            margin: 0;
            margin-top: -20px;
            margin-left: -15px;
        }
    }
}

.button_regis:hover {
    background: #0285f828;
    a {
        color: #fff !important;
    }
}

.button_red_v2 {
    a {
        color: #ffffff;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

button {
    border: 0;
    color: #fff;
}

.front {
    &.v1 {
        box-shadow: none !important;
    }
}

.back {
    &.v1 {
        box-shadow: none !important;
    }
}

#second,
#minut {
    color: #ffffff;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    line-height: 24px;
    p {
        color: #ffffff;
        font-family: Roboto;
        font-size: 48px;
        font-weight: 300;
        line-height: 24px;
    }
}

.textarea_p {
    height: 150px;
    padding-left: 15px;
    border-radius: 2px;
    border: 1px solid #9299a2;
    background-color: #ffffff;
    position: relative;
    padding-top: 15px;
    .form-control {
        width: 100%;
        height: 100%;
        border: 0;
    }
    .md-form {
        margin: 0;
        height: 100%;
        label {
            top: -8px;
            color: #9299a2;
            &.active {
                transform: translateY(-50%);
            }
        }
        input {
            padding-top: 0 !important;
            margin: 0 !important;
            margin: 0 !important;
            position: relative;
            bottom: 0 !important;
            padding: 0 !important;
            height: 25px !important;
            margin-top: 20px !important;
            border: 0 !important;
            box-shadow: unset !important;
        }
    }
}

.card {
    .input_p {
        &.input_text {
            width: 100%;
            height: 200px;
            border-radius: 2px;
            border: 1px solid #9299a2;
            background-color: #ffffff;
            padding: 15px;
            .md-form {
                label {
                    top: -5px;
                }
            }
            textarea {
                height: 100%;
                width: 100%;
                border: 0;
            }
        }
    }
}

.radio {
    display: grid;
    grid-gap: 15px;
    label {
        color: #333333;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
    }
}

.servic_pos {
    width: 265px;
    height: 200px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    position: absolute;
    z-index: 999;
    top: 60px;
    right: 30%;
    ul {
        height: 100%;
        padding: 0;
        li {
            height: 25%;
            width: 100%;
            display: flex;
            align-items: center;
            list-style: none;
            a {
                color: #373737;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                padding-left: 25px;
                &:hover {
                    background-color: #ebf5ff;
                }
            }
        }
    }
}

.servic_pos_user {
    width: 265px;
    height: 100px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    ul {
        height: 100%;
        padding: 0;
        li {
            height: 50%;
            width: 100%;
            display: flex;
            align-items: center;
            list-style: none;
            a {
                color: #373737;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                padding-left: 25px;
                &:hover {
                    background-color: #ebf5ff;
                }
            }
        }
    }
}

.search_card {
    width: 70%;
    p {
        color: #333333 !important;
        font-family: Roboto;
        font-size: 18px !important;
        font-weight: 400 !important;
        line-height: 26px !important;
        margin-bottom: 10px !important;
        cursor: pointer;
    }
    a {
        color: #00437c !important;
        font-family: Roboto;
        font-size: 14px !important;
        font-weight: 400 !important;
        line-height: 26px !important;
        cursor: pointer;
    }
}

.step {
    .steps-form {
        display: table;
        width: 100%;
        position: relative;
    }
    .steps-form .steps-row {
        display: grid;
        grid-template-columns: 4fr 4fr 3fr;
        justify-content: center;
        align-items: center;
    }
    .steps-form .steps-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
    }
    .steps-form .steps-row .steps-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }
    .steps-form .steps-row .steps-step p {
        margin-top: 0.5rem;
    }
    .steps-form .steps-row .steps-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }
    .steps-form .steps-row .steps-step .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 0;
        margin-top: 0;
    }
}

.card_man {
    padding: 30px;
    background: url('../img/back_4.png');
    background-size: cover;
    padding-bottom: 70px;
    background-position: center;
    p {
        color: #00437c;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 15px;
    }
    span {
        color: #333333;
        font-family: Roboto;
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 9;
        &::before {
            background: #fff;
            content: "";
            filter: blur(60px);
            width: 70vh;
            height: 190%;
            top: -25px;
            position: absolute;
            left: 0;
            z-index: -1;
        }
    }
}