.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00437c !important;
}
.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #00437c !important;
}
.pagination .page-item {
  margin-left: 10px;
}
.switch label input[type=checkbox]:checked + .lever {
  background: #e8f0f8 !important;
}
.custom-checkbox .custom-control-label::before {
  border-radius: 2px;
  border: 1px solid #9299a2;
  background-color: #ffffff;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00437c !important;
  border-radius: 2px;
  border: 0;
}
#menu .pos_2 .menu.menu_v3 .menu_ul ul.select-dropdown {
  display: flex;
}
.pagination .page-item.active .page-link {
  box-shadow: none !important;
  background-color: #00437c !important;
}
.pagination .page-item .page-link:hover {
  background-color: #ebf5ff !important;
}
#menu .dropdown-primary .dropdown-content li a,
#menu .dropdown-primary .dropdown-content li span:hover,
#menu .dropdown-primary .dropdown-content li.active {
  background: #00437c !important;
}
.dropdown-content li > a,
.dropdown-content li > span {
  color: #00437c !important;
}
.form-check-input[type=checkbox]:checked + label:before,
label.btn input[type=checkbox]:checked + label:before {
  border-right: 2px solid #00437c !important;
  border-bottom: 2px solid #00437c !important;
}
.dropdown-content li.active,
.dropdown-content li:hover {
  background-color: #ebf5ff !important;
}
label.active {
  color: #9299a2 !important;
}
.span_1 {
  display: none;
}
.span_2 {
  display: none;
}
.span_3 {
  display: none;
}
#setting {
  padding-bottom: 100px;
}
#setting .setting {
  display: grid;
  grid-gap: 30px;
}
#setting .setting .text {
  padding: 30px 0;
}
#setting .setting .text p {
  color: #9299a2;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px;
}
#setting .setting .text span {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
}
#setting .setting .dis_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
#setting .setting .dis_grid .card .radio {
  padding: 40px 0;
  padding-top: 30px;
}
#setting .setting .dis_grid .card .radio label {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
#setting .setting .dis_grid .card .input {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  width: 70%;
}
#setting .setting .dis_grid .card .input input {
  border-radius: 2px;
  border: 1px solid #9299a2;
  background-color: #ffffff;
  height: 50px;
  padding: 15px;
}
#setting .setting .dis_grid .card .check {
  padding-top: 35px;
  display: grid;
  grid-gap: 15px;
}
#setting .setting .dis_grid .card .check .switch {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
}
#setting .setting .dis_grid .card .check .switch p {
  color: #9299a2;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
#setting .setting .card .input_p {
  height: 50px;
  padding-left: 15px;
  border-radius: 2px;
  border: 1px solid #9299a2;
  background-color: #ffffff;
}
#setting .setting .card .input_p .md-form {
  margin: 0;
  height: 100%;
}
#setting .setting .card .input_p .md-form label {
  top: -8px;
  color: #9299a2;
}
#setting .setting .card .input_p .md-form label.active {
  transform: translateY(-50%);
}
#setting .setting .card .input_p .md-form input {
  padding-top: 0;
  margin: 0;
  position: relative;
  bottom: 0;
  padding: 0;
  height: 25px;
  margin-top: 20px;
  border: 0;
  box-shadow: unset;
}
#setting .setting .card .pos_user {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 50px;
  margin-top: 35px;
  width: 70%;
}
#setting .setting .card .pos_user .foto {
  width: 130px;
}
#setting .setting .card .pos_user .foto .img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
}
#setting .setting .card .pos_user .foto p {
  color: #69809b;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -25px;
}
#setting .setting .card .pos_user .foto img {
  width: 100%;
}
#setting .setting .card .pos_user .foto input {
  width: 100px;
  height: 40px;
  opacity: 0;
}
#setting .setting .card .input_pos {
  display: grid;
  grid-template-columns: 5fr 3fr 3fr;
  grid-gap: 50px;
  width: 100%;
  margin-top: 35px;
}
#setting .setting .card .input_pos .inp_2 {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 65%;
  margin-left: -30px;
}
#setting .setting .card .input_pos_v2 {
  display: grid;
  grid-template-columns: 5fr 6fr;
  grid-gap: 50px;
  width: 95%;
  margin-top: 35px;
}
#setting .setting .card .input_pos_v2 .inp_text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
#setting .setting .card .input_pos_v2 .inp_text .text {
  padding: 0;
}
#setting .setting .card .input_pos_v2 .inp_text p {
  padding: 0;
  margin: 0;
  color: #9299a2;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}
#setting .setting .card .input_pos_v2 .mail {
  width: 70%;
}
#setting .setting .button_blue {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
#news {
  padding-bottom: 100px;
}
#news .news .line {
  height: 1px;
  background-color: #9299a2;
  margin: 25px 0;
  width: 100%;
}
#news .news .text p {
  margin-top: 30px;
  color: #9299a2;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}
#news .news .text span {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
}
#news .news .nav-tabs {
  width: 25%;
  background: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
#news .news .tabs .pagination {
  margin-top: 30px;
}
#news .news .tabs .nav-link {
  color: #9299a2;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}
#news .news .tabs .nav-link.active {
  background-color: #ebf5ff;
  color: #00437c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
#news .news .tabs .tab-content {
  background: #fbfbfb;
  box-shadow: unset !important;
}
#news .news .tabs .tab-content .tab-pane .glob_new {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 3fr 2fr;
}
#news .news .tabs .tab-content .tab-pane .list_new {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
#news .news .tabs .tab-content .tab-pane .new_1 .img {
  margin-bottom: 10px;
}
#news .news .tabs .tab-content .tab-pane .new_1 .img img {
  width: 100%;
}
#news .news .tabs .tab-content .tab-pane .new_1 .text p {
  color: #333333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin: 15px 0;
}
#news .news .tabs .tab-content .tab-pane .new_1 .text span {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
#news .news .tabs .tab-content .tab-pane .new_1 .text .grid_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
#news .news .tabs .tab-content .tab-pane .new_1 .text .grid_text p {
  color: #00437c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
#news .news .tabs .tab-content .tab-pane .new_1 .text .grid_text span {
  color: #9299a2;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#news .news .tabs .tab-content .tab-pane .new_1 .comment {
  margin: 15px 0;
}
#consultation .consul .text p {
  margin-top: 30px;
  color: #9299a2;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}
#consultation .consul .text span {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
}
#consultation .consul .cart {
  padding: 50px 0;
}
#consultation .consul .cart p {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#consultation .consul .cart .radio label {
  padding: 0 5px;
  margin: 3px 0;
}
#consultation .consul .cart textarea {
  margin: 40px 0;
  width: 70%;
  border-radius: 2px;
  border: 1px solid #9299a2;
  background-color: #ffffff;
  padding: 15px;
  height: 200px;
}
#consultation .consul .cart textarea::placeholder {
  color: #9299a2;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#amend {
  padding-bottom: 100px;
}
#amend .amend .text p {
  color: #9299a2;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  margin: 30px 0;
}
#amend .amend .main_card {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}
#amend .amend .main_card .result {
  padding: 25px;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
#amend .amend .main_card .result .voice {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
}
#amend .amend .main_card .result .voice p {
  color: #69809b;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin: 0;
}
#amend .amend .out {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 30px;
  margin: 30px 0;
  margin-top: 60px;
}
#amend .amend .out .text p {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 30px;
}
#amend .amend .out .out_voic .voice {
  align-items: center;
  padding-bottom: 45px;
}
#amend .amend .out .out_voic .voice .voice_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#amend .amend .out .out_voic .voice p {
  color: #69809b;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
#amend .amend .out .out_voic .voice .time {
  text-align: center;
  padding-top: 10px;
  margin-bottom: -15px;
}
#amend .amend .out .out_voic .voice .time p {
  color: #00437c;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  line-height: 26px;
}
#amend .amend .out .out_voic .voice .time span {
  color: #00437c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#amend .amend .out .out_voic p {
  color: #333333;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
#amend .amend .out .out_voic .glo_dio p {
  margin-top: 40px;
}
#amend .amend .radio {
  margin: 40px 0;
  display: grid;
  grid-gap: 15px;
}
#amend .amend .radio label {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
#amend .amend .card {
  box-shadow: unset !important;
}
#amend .amend .card p {
  margin: 0;
}
#amend .amend .card .text_1 {
  width: 50%;
}
#amend .amend .card .text_2 p {
  color: #333333;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  padding-right: 15%;
}
#amend .amend .card.card_v1 {
  background: url(../img/icon/back_4.png);
  background-size: 130%;
  background-position: center;
}
#amend .amend .comment_glo h5.mb-0 {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#amend .amend .comment_glo #petition {
  padding: 0;
}
#amend .amend .comment_glo #petition .main_text p {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
}
#amend .amend .comment_glo #petition .nav-tabs {
  float: none;
  display: flex;
  padding: 0;
  width: 50%;
  margin-bottom: 30px;
}
#amend .amend .comment_glo #petition .nav-tabs li {
  text-align: center;
}
#amend .amend .comment_glo #petition .tab-pane {
  background: #fbfbfb;
}
#amend.open_pet .text .dis_grid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#amend.open_pet .text .dis_grid .dbl_button {
  display: flex;
}
#amend.open_pet .text .dis_grid .dbl_button .plus_green {
  margin-left: 25px;
}
#amend.open_pet .text .dis_grid .social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  text-align: right;
  grid-gap: 5px;
  width: 12%;
  align-items: flex-end;
}
#amend.open_pet .text .commit {
  padding: 50px 0;
  display: grid;
  grid-gap: 30px;
}
#amend.open_pet .text .commit .comet {
  display: grid;
  width: 100%;
  grid-template-columns: 60px 1fr;
}
#amend.open_pet .text .commit .comet .md-form {
  margin: 0;
}
#amend.open_pet .text .commit .comet .md-form input:focus {
  -webkit-box-shadow: 0 1px 0 0 #00437c;
  box-shadow: 0 1px 0 0 #00437c;
  border-bottom: 1px solid #00437c;
}
#amend.open_pet .text .commit .comet .md-form label.active {
  color: #00437c;
}
#amend.open_pet .text .commit .comet .name {
  display: flex;
}
#amend.open_pet .text .commit .comet .name p {
  color: #69809b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}
#amend.open_pet .text .commit .comet .name span {
  color: #9299a2;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 35px;
}
#amend.open_pet .text .commit .comet .text {
  padding: 10px 0;
}
#amend.open_pet .text .commit .comet .text p {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
#amend.open_pet .text .commit .comet .comet_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 30%;
}
#amend.open_pet .text .commit .comet .comet_1 a {
  color: #9299a2;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#amend.open_pet .text .commit .comet .md-accordion {
  padding: 15px 0;
  padding-bottom: 0;
}
#amend.open_pet .text .commit .comet .md-accordion h5.mb-0 {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
#amend.open_pet .text .commit .comet .md-accordion .card-body {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
#amend.open_pet .text .commit p {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
#amend.open_pet .text .commit .img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#amend.open_pet .text .commit .img img {
  width: 100%;
  position: relative;
}
#amend.open_pet .main_card .card .text .text_3 {
  width: 35%;
}
#amend.open_pet .main_card .result {
  grid-template-columns: 1fr 1fr;
}
#amend.open_pet .main_card .result .voice {
  grid-template-columns: 3fr 1fr 1fr 1fr;
  align-items: center;
}
#amend.open_pet .main_card .result .voice .time {
  text-align: center;
  padding-top: 10px;
  margin-bottom: -15px;
}
#amend.open_pet .main_card .result .voice .time p {
  color: #00437c;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 300;
  line-height: 15px;
  margin-bottom: 10px;
}
#amend.open_pet .main_card .result .voice .time span {
  color: #00437c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#amend.open_pet .main_card .result .dbl_button {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}
#amend.open_pet .out .out_voic .button_blue {
  width: 100%;
  margin-top: -10px;
  margin-bottom: 70px;
}
#amend.open_pet .out .out_voic .card.card_v1 {
  background-size: cover;
  padding-right: 30px;
}
#amend.open_pet .out .out_voic .card.card_v1 p {
  color: #333333;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px !important;
  text-align: center;
}
#amend.open_pet .pagination .page-item {
  margin-left: 10px;
}
#amend.open_pet .pagination .page-item.active a {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}
#amend.open_pet .pagination .page-item.text {
  margin-left: 30px;
}
#amend.open_pet .pagination .page-item.text a {
  color: #69809b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}
#amend.open_pet .pagination .page-item a {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}
#amend.open_pet .pagination .page-item a:hover {
  background-color: #ebf5ff !important;
}
#petition.pet_2 {
  padding-top: 30px;
}
#petition .main_pos .path p {
  color: #9299a2;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}
#petition .main_pos .main_text.cop_2 p {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 10px;
}
#petition .main_pos .main_text.cop_2 span {
  color: #333333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
#petition .main_pos .main_tab .tab-content.copy_1 {
  background: none;
}
#petition .main_pos .main_tab .tab-content.copy_2 {
  background: none;
  grid-template-columns: 1fr;
}
#petition .main_pos .main_tab .tab-content .tab-pane {
  background: #fbfbfb;
}
#petition .main_pos .main_tab .tab-content .tab-pane .card {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}
#petition .main_pos .main_tab .tab-content .tab-pane .card ul.pagination {
  display: flex;
  width: 100%;
}
#petition .main_pos .main_tab .tab-content .tab-pane .card ul.pagination li {
  margin-left: 10px;
}
#petition .main_pos .main_tab .tab-content .tab-pane ul {
  display: grid;
  padding: 0;
  width: 30%;
  text-align: center;
  grid-template-columns: 1fr 2fr;
}
#petition .main_pos .main_tab .tab-content .tab-pane ul li {
  text-align: center;
}
#petition .main_pos .main_tab .nav-tabs .text_viol {
  background: url(../img/icon/back_4.png);
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: -20px;
  margin-top: 30px;
}
#petition .main_pos .main_tab .nav-tabs .text_viol p {
  color: #333333;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px !important;
  text-align: center;
}
#petition .main_pos .main_tab .nav-tabs .button_blue {
  width: 100%;
}
#petition .main_pos .main_tab .nav-tabs .button_red_v2 {
  width: 100%;
  margin-top: 30px;
  box-shadow: none;
}
#petition .main_pos .main_tab .nav-tabs a:hover {
  color: #fff;
}
#petition .main_pos .main_tab .nav-tabs .project {
  margin-top: 100px;
}
#petition .main_pos .main_tab .nav-tabs .project p {
  padding-right: 30px;
  color: #00437c;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin-bottom: 10px;
}
#petition .main_pos .main_tab .nav-tabs .project span {
  color: #00437c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
#petition .main_pos .main_tab .nav-tabs .account p {
  color: #333333;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 50px;
  margin-bottom: 30px;
}
#petition .main_pos .main_tab .nav-tabs .account label.active {
  color: #9299a2;
}
#petition .main_pos .main_tab .nav-tabs .account .input_p {
  margin-bottom: 30px;
}
#petition .main_pos .main_tab .nav-tabs .account .button_blue {
  width: 100%;
}
#search {
  padding-bottom: 100px;
}
#search .search .path p {
  color: #9299a2;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  margin: 30px 0;
}
#search .search .inp_search {
  width: 80%;
}
#search .search .inp_search p {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  cursor: pointer;
}
#search .search .inp_search .input_p {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 4fr 1fr;
}
#search .search .inp_search .input_p button {
  border: 0;
  width: 100%;
  margin-top: -1px;
}
#search .search .inp_search .input_p .md-form label {
  top: 10px;
}
#search .search .inp_search .search_list {
  padding: 40px 0;
  display: grid;
  grid-gap: 30px;
}
#search .search .pagination li {
  margin-right: 10px;
}
#search .search .pagination li.text {
  margin-left: 30px;
}
#create {
  padding-bottom: 100px;
}
#create .create .path p {
  color: #9299a2;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  margin: 30px 0;
}
#create .create .main_crt p {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 30px;
}
#create .create .main_crt .step.step_v1 form #step-1 p {
  color: #333333;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 25px;
  margin-top: 30px;
}
#create .create .main_crt .step.step_v1 form #step-1 span {
  color: #9299a2;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#create .create .main_crt .step.step_v1 form #step-1 button {
  margin-top: 60px;
  margin-bottom: 50px;
}
#create .create .main_crt .step .card {
  background: none;
  box-shadow: unset !important;
}
#create .create .main_crt .step .steps-form .steps-row:before {
  background: none !important;
}
#create .create .main_crt .step .steps-form .steps-row .steps-step {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
#create .create .main_crt .step .steps-form .steps-row .steps-step p {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-left: 10px;
}
#create .create .main_crt .step .steps-form .steps-row .steps-step a {
  color: #00437c !important;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}
#create .create .main_crt .step .steps-form .steps-row .steps-step a.btn-default {
  background: #ebf5ff !important;
}
#create .create .main_crt .step .steps-form .steps-row .steps-step a.btn-default.btn-indigo {
  color: #ffffff !important;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  background: #00437c !important;
}
#create .create .main_crt .step .steps-form .steps-row .steps-step a.btn-default.btn-blue {
  background: #00437c !important;
  color: #ffffff !important;
}
#create .create .main_crt .step .steps-form .steps-row .steps-step p {
  color: #9299a2;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#create .create .main_crt .step .steps-form .steps-row .steps-step p.btn-default.btn-indigo {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#create .create .main_crt .step .steps-form .steps-row .line_blue_v2 {
  width: 25%;
  height: 1px;
  background-color: #00437c;
  position: relative;
  transform: translate(50%);
}
#create .create .main_crt .step form .card {
  padding: 50px 0;
  text-align: center;
  margin-top: 50px;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.11) !important;
  background-color: #ffffff;
}
#create .create .main_crt .step form .card p {
  color: #333333;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
}
#create .create .main_crt .step form .card .radio {
  margin-bottom: 30px;
}
#create .create .main_crt .step form .setup-content button {
  border: 0;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#create .create .main_crt .step form .setup-content .radio {
  text-align: left;
  position: relative;
  width: 50%;
  left: 50%;
  transform: translate(-50%);
}
#create .create .main_crt .step form .setup-content .select_1 {
  display: flex;
  position: relative;
  width: 50%;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
}
#create .create .main_crt .step form .setup-content .select_1 .selecting {
  height: 50px;
  border-radius: 2px;
  border: 1px solid #9299a2;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding-right: 15px;
  width: 100%;
  justify-content: space-between;
}
#create .create .main_crt .step form .setup-content .select_1 .selecting .mdb-select {
  width: 100%;
}
#create .create .main_crt .step form .setup-content .select_1 .selecting .mdb-select input {
  margin: 0;
  height: 100%;
  width: 100%;
  border: 0;
  padding-left: 15px;
}
#create .create .main_crt .step form .setup-content .select_1 .selecting .mdb-select ul {
  overflow: unset;
  left: -50px !important;
}
#create .create .main_crt .step form .setup-content .select_1 .selecting .button_blue {
  margin: 0;
}
#create .create .main_crt .step form .setup-content .select_1 p {
  color: #9299a2;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  right: -160px;
  text-align: left;
  line-height: 15px;
  margin: 0;
}
#create .create .main_crt .step form .setup-content .select_1 input::placeholder {
  color: #9299a2;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#create .create .main_crt .step form .setup-content .button_blue {
  margin-top: 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
#create .create .main_crt .step form #step-9 .custom-control {
  display: flex;
  margin-top: -20px;
  margin-bottom: 50px;
}
#create .create .main_crt .step form #step-9 .card {
  padding: 50px 30px;
}
#create .create .main_crt .step form #step-9 .card .button_blue {
  margin: 0;
}
#create .create .main_crt .step form .card #dropzone p {
  color: #9299a2;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
#create .create .main_crt .step form .card #dropzone a {
  color: #69809b;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#create .create .main_crt .step form .card #dropzone {
  border-radius: 2px;
  border: 1px dashed #9299a2;
  background-color: #ffffff;
  position: relative;
  width: 50%;
  left: 50%;
  transform: translate(-50%);
  padding: 30px 60px 20px 60px;
}
#create .create .main_crt .step form .card #dropzone input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
#menu .pos_2 .menu.menu_v3 {
  grid-template-columns: 1fr 2fr 1fr 1fr;
}
#menu .pos_2 .menu.menu_v3 .free {
  text-align: center;
}
#menu .pos_2 .menu.menu_v3 .free p {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 5px;
}
#menu .pos_2 .menu.menu_v3 .free ul {
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
#menu .pos_2 .menu.menu_v3 .free ul li {
  display: flex;
  justify-content: center;
}
#menu .pos_2 .menu.menu_v3 .free ul li a {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
#menu .pos_2 .menu.menu_v3 .contact {
  text-align: center;
}
#menu .pos_2 .menu.menu_v3 .contact p {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  line-height: 20px;
  margin: 5px;
}
#menu .pos_2 .menu.menu_v3 .contact span {
  color: #575c62;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
#menu .pos_2 .menu.menu_v3 .menu_ul {
  display: flex;
  align-items: center;
}
#menu .pos_2 .menu.menu_v3 .menu_ul ul {
  display: block;
  width: auto;
  margin-left: 20px;
}
.step_v1 {
  display: none;
}
#step-1 {
  display: block !important;
}
@media (max-width: 1030px) {
  #petition .tab-content {
    width: 85%;
  }
}
@media (max-width: 780px) {
  #amend .amend .card.card_v1 .text_1 {
    width: 85% !important;
  }
}
