.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #00437c !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #00437c !important;
}

.pagination .page-item {
    margin-left: 10px;
}

.switch label input[type=checkbox]:checked+.lever {
    background: #e8f0f8 !important;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 2px;
    border: 1px solid #9299a2;
    background-color: #ffffff;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #00437c !important;
    border-radius: 2px;
    border: 0;
}

#menu .pos_2 .menu.menu_v3 .menu_ul ul.select-dropdown {
    display: flex;
}

.pagination .page-item.active .page-link {
    box-shadow: none !important;
    background-color: #00437c !important;
}

.pagination .page-item .page-link:hover {
    background-color: #ebf5ff !important;
}

#menu .dropdown-primary .dropdown-content li a,
#menu .dropdown-primary .dropdown-content li span:hover,
#menu .dropdown-primary .dropdown-content li.active {
    background: #00437c !important;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: #00437c !important;
}

.form-check-input[type=checkbox]:checked+label:before,
label.btn input[type=checkbox]:checked+label:before {
    border-right: 2px solid #00437c !important;
    border-bottom: 2px solid #00437c !important;
}

.dropdown-content li.active,
.dropdown-content li:hover {
    background-color: #ebf5ff !important;
}

label {
    &.active {
        color: #9299a2 !important;
    }
}

.span_1 {
    display: none;
}

.span_2 {
    display: none;
}

.span_3 {
    display: none;
}

#setting {
    padding-bottom: 100px;
    .setting {
        display: grid;
        grid-gap: 30px;
        .text {
            padding: 30px 0;
            p {
                color: #9299a2;
                font-family: Roboto;
                font-size: 12px;
                font-weight: 400;
                margin-bottom: 15px;
            }
            span {
                color: #333333;
                font-family: Roboto;
                font-size: 36px;
                font-weight: 300;
            }
        }
        .dis_grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 30px;
            .card {
                .radio {
                    padding: 40px 0;
                    padding-top: 30px;
                    label {
                        color: #333333;
                        font-family: Roboto;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                    }
                }
                .input {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 30px;
                    width: 70%;
                    input {
                        border-radius: 2px;
                        border: 1px solid #9299a2;
                        background-color: #ffffff;
                        height: 50px;
                        padding: 15px;
                    }
                }
                .check {
                    padding-top: 35px;
                    display: grid;
                    grid-gap: 15px;
                    .switch {
                        display: grid;
                        grid-template-columns: 2fr 3fr;
                        align-items: center;
                        p {
                            color: #9299a2;
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 26px;
                        }
                    }
                }
            }
        }
        .card {
            .input_p {
                height: 50px;
                padding-left: 15px;
                border-radius: 2px;
                border: 1px solid #9299a2;
                background-color: #ffffff;
                .md-form {
                    margin: 0;
                    height: 100%;
                    label {
                        top: -8px;
                        color: #9299a2;
                        &.active {
                            transform: translateY(-50%);
                        }
                    }
                    input {
                        padding-top: 0;
                        margin: 0;
                        margin: 0;
                        position: relative;
                        bottom: 0;
                        padding: 0;
                        height: 25px;
                        margin-top: 20px;
                        border: 0;
                        box-shadow: unset;
                    }
                }
            }
            .pos_user {
                display: grid;
                grid-template-columns: 1fr 2fr 2fr;
                grid-gap: 50px;
                margin-top: 35px;
                width: 70%;
                .foto {
                    width: 130px;
                    .img {
                        width: 130px;
                        height: 130px;
                        border-radius: 50%;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        position: relative;
                        left: 50%;
                        transform: translate(-50%);
                        margin: 0;
                    }
                    p {
                        color: #69809b;
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 24px;
                        text-align: center;
                        margin-top: 10px;
                        margin-bottom: -25px;
                    }
                    img {
                        width: 100%;
                    }
                    input {
                        width: 100px;
                        height: 40px;
                        opacity: 0;
                    }
                }
            }
            .input_pos {
                display: grid;
                grid-template-columns: 5fr 3fr 3fr;
                grid-gap: 50px;
                width: 100%;
                margin-top: 35px;
                .inp_2 {
                    display: grid;
                    align-items: center;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 20px;
                    width: 65%;
                    margin-left: -30px;
                }
            }
            .input_pos_v2 {
                display: grid;
                grid-template-columns: 5fr 6fr;
                grid-gap: 50px;
                width: 95%;
                margin-top: 35px;
                .inp_text {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 30px;
                    .text {
                        padding: 0;
                    }
                    p {
                        padding: 0;
                        margin: 0;
                        color: #9299a2;
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
                .mail {
                    width: 70%;
                }
            }
        }
        .button_blue {
            position: relative;
            left: 50%;
            transform: translate(-50%);
        }
    }
}

#news {
    padding-bottom: 100px;
    .news {
        .line {
            height: 1px;
            background-color: #9299a2;
            margin: 25px 0;
            width: 100%;
        }
        .text {
            p {
                margin-top: 30px;
                color: #9299a2;
                font-family: Roboto;
                font-size: 12px;
                font-weight: 400;
            }
            span {
                color: #333333;
                font-family: Roboto;
                font-size: 36px;
                font-weight: 300;
            }
        }
        .nav-tabs {
            width: 25%;
            background: none;
            box-shadow: none;
            margin: 0;
            padding: 0;
        }
        .tabs {
            .pagination {
                margin-top: 30px;
            }
            .nav-link {
                color: #9299a2;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                padding: 0;
                height: 30px;
                align-items: center;
                display: flex;
                justify-content: center;
                &.active {
                    background-color: #ebf5ff;
                    color: #00437c;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                }
            }
            .tab-content {
                background: #fbfbfb;
                box-shadow: unset !important;
                .tab-pane {
                    .glob_new {
                        display: grid;
                        grid-gap: 30px;
                        grid-template-columns: 3fr 2fr;
                    }
                    .list_new {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-gap: 30px;
                    }
                    .new_1 {
                        .img {
                            margin-bottom: 10px;
                            img {
                                width: 100%;
                            }
                        }
                        .text {
                            p {
                                color: #333333;
                                font-family: Roboto;
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 26px;
                                margin: 15px 0;
                            }
                            span {
                                color: #333333;
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 24px;
                            }
                            .grid_text {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin-top: 15px;
                                p {
                                    color: #00437c;
                                    font-family: Roboto;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 26px;
                                    margin: 0;
                                    padding: 0;
                                }
                                span {
                                    color: #9299a2;
                                    font-family: Roboto;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 26px;
                                }
                            }
                        }
                        .comment {
                            margin: 15px 0;
                        }
                    }
                }
            }
        }
    }
}

#consultation {
    .consul {
        .text {
            p {
                margin-top: 30px;
                color: #9299a2;
                font-family: Roboto;
                font-size: 12px;
                font-weight: 400;
            }
            span {
                color: #333333;
                font-family: Roboto;
                font-size: 36px;
                font-weight: 300;
            }
        }
        .cart {
            padding: 50px 0;
            p {
                color: #333333;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
            }
            .radio {
                label {
                    padding: 0 5px;
                    margin: 3px 0;
                }
            }
            textarea {
                margin: 40px 0;
                width: 70%;
                border-radius: 2px;
                border: 1px solid #9299a2;
                background-color: #ffffff;
                padding: 15px;
                height: 200px;
                &::placeholder {
                    color: #9299a2;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
    }
}

#amend {
    padding-bottom: 100px;
    .amend {
        .text {
            p {
                color: #9299a2;
                font-family: Roboto;
                font-size: 12px;
                font-weight: 400;
                margin: 30px 0;
            }
        }
        .main_card {
            box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04);
            background-color: #ffffff;
            .result {
                padding: 25px;
                display: grid;
                grid-template-columns: 3fr 2fr;
                .voice {
                    display: grid;
                    grid-template-columns: 2fr 1fr 1fr;
                    align-items: center;
                    p {
                        color: #69809b;
                        font-family: Roboto;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 26px;
                        margin: 0;
                    }
                }
            }
        }
        .out {
            display: grid;
            grid-template-columns: 4fr 1fr;
            grid-gap: 30px;
            margin: 30px 0;
            margin-top: 60px;
            .text {
                p {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    margin: 0;
                    margin-bottom: 30px;
                }
            }
            .out_voic {
                .voice {
                    align-items: center;
                    padding-bottom: 45px;
                    .voice_grid {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                    }
                    p {
                        color: #69809b;
                        font-family: Roboto;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 26px;
                    }
                    .time {
                        text-align: center;
                        padding-top: 10px;
                        margin-bottom: -15px;
                        p {
                            color: #00437c;
                            font-family: Roboto;
                            font-size: 36px;
                            font-weight: 300;
                            line-height: 26px;
                        }
                        span {
                            color: #00437c;
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 26px;
                        }
                    }
                }
                p {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24px;
                }
                .glo_dio {
                    p {
                        margin-top: 40px;
                    }
                }
            }
        }
        .radio {
            margin: 40px 0;
            display: grid;
            grid-gap: 15px;
            label {
                color: #333333;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
            }
        }
        .card {
            box-shadow: unset !important;
            p {
                margin: 0;
            }
            .text_1 {
                width: 50%;
            }
            .text_2 {
                p {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 30px;
                    font-weight: 400;
                    line-height: 40px;
                    padding-right: 15%;
                }
            }
            &.card_v1 {
                background: url(../img/icon/back_4.png);
                background-size: 130%;
                background-position: center;
            }
        }
        .comment_glo {
            h5 {
                &.mb-0 {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
            #petition {
                padding: 0;
                .main_text {
                    p {
                        color: #333333;
                        font-family: Roboto;
                        font-size: 36px;
                        font-weight: 300;
                    }
                }
                .nav-tabs {
                    float: none;
                    display: flex;
                    padding: 0;
                    width: 50%;
                    margin-bottom: 30px;
                    li {
                        text-align: center;
                    }
                }
                .tab-pane {
                    background: #fbfbfb;
                }
            }
        }
    }
}

#amend {
    &.open_pet {
        .text {
            .dis_grid {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                .dbl_button {
                    display: flex;
                    .plus_green {
                        margin-left: 25px;
                    }
                }
                .social {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 2fr;
                    text-align: right;
                    grid-gap: 5px;
                    width: 12%;
                    align-items: flex-end;
                }
            }
            .commit {
                padding: 50px 0;
                display: grid;
                grid-gap: 30px;
                .comet {
                    display: grid;
                    width: 100%;
                    grid-template-columns: 60px 1fr;
                    .md-form {
                        margin: 0;
                        input {
                            &:focus {
                                -webkit-box-shadow: 0 1px 0 0 #00437c;
                                box-shadow: 0 1px 0 0 #00437c;
                                border-bottom: 1px solid #00437c;
                            }
                        }
                        label {
                            &.active {
                                color: #00437c;
                            }
                        }
                    }
                    .name {
                        display: flex;
                        p {
                            color: #69809b;
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 26px;
                        }
                        span {
                            color: #9299a2;
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 26px;
                            padding-left: 35px;
                        }
                    }
                    .text {
                        padding: 10px 0;
                        p {
                            color: #333333;
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 24px;
                        }
                    }
                    .comet_1 {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        width: 30%;
                        a {
                            color: #9299a2;
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 26px;
                        }
                    }
                    .md-accordion {
                        padding: 15px 0;
                        padding-bottom: 0;
                        h5 {
                            &.mb-0 {
                                color: #333333;
                                font-family: Roboto;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 26px;
                            }
                        }
                        .card-body {
                            padding-right: 0;
                            padding-left: 0;
                            padding-bottom: 0;
                        }
                    }
                }
                p {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    margin: 0;
                }
                .img {
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 100%;
                        position: relative
                    }
                }
            }
        }
        .main_card {
            .card {
                .text {
                    .text_3 {
                        width: 35%;
                    }
                }
            }
            .result {
                grid-template-columns: 1fr 1fr;
                .voice {
                    grid-template-columns: 3fr 1fr 1fr 1fr;
                    align-items: center;
                    .time {
                        text-align: center;
                        padding-top: 10px;
                        margin-bottom: -15px;
                        p {
                            color: #00437c;
                            font-family: Roboto;
                            font-size: 60px;
                            font-weight: 300;
                            line-height: 15px;
                            margin-bottom: 10px;
                        }
                        span {
                            color: #00437c;
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 26px;
                        }
                    }
                }
                .dbl_button {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-gap: 10px;
                }
            }
        }
        .out {
            .out_voic {
                .button_blue {
                    width: 100%;
                    margin-top: -10px;
                    margin-bottom: 70px;
                }
                .card {
                    &.card_v1 {
                        background-size: cover;
                        padding-right: 30px;
                        p {
                            color: #333333;
                            font-family: Roboto;
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 34px !important;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .pagination {
            .page-item {
                &.active {
                    a {
                        color: #ffffff;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
                margin-left: 10px;
                &.text {
                    margin-left: 30px;
                    a {
                        color: #69809b;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
                a {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 500;
                    &:hover {
                        background-color: #ebf5ff !important;
                    }
                }
            }
        }
    }
}

#petition {
    &.pet_2 {
        padding-top: 30px;
    }
    .main_pos {
        .path {
            p {
                color: #9299a2;
                font-family: Roboto;
                font-size: 12px;
                font-weight: 400;
            }
        }
        .main_text {
            &.cop_2 {
                p {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 36px;
                    font-weight: 300;
                    margin-bottom: 10px;
                }
                span {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
        .main_tab {
            .tab-content {
                &.copy_1 {
                    background: none;
                }
                &.copy_2 {
                    background: none;
                    grid-template-columns: 1fr;
                }
                .tab-pane {
                    background: #fbfbfb;
                    .card {
                        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04);
                        background-color: #ffffff;
                        ul {
                            &.pagination {
                                display: flex;
                                width: 100%;
                                li {
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                    ul {
                        display: grid;
                        padding: 0;
                        width: 30%;
                        text-align: center;
                        grid-template-columns: 1fr 2fr;
                        li {
                            text-align: center;
                        }
                    }
                }
            }
            .nav-tabs {
                .text_viol {
                    background: url(../img/icon/back_4.png);
                    background-size: cover;
                    background-position: center;
                    padding: 20px;
                    margin-bottom: -20px;
                    margin-top: 30px;
                    p {
                        color: #333333;
                        font-family: Roboto;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 34px !important;
                        text-align: center;
                    }
                }
                .button_blue {
                    width: 100%;
                }
                .button_red_v2 {
                    width: 100%;
                    margin-top: 30px;
                    box-shadow: none;
                }
                a{
                    &:hover{
                        color:#fff;
                    }
                }
                .project {
                    margin-top: 100px;
                    p {
                        padding-right: 30px;
                        color: #00437c;
                        font-family: Roboto;
                        font-size: 36px;
                        font-weight: 300;
                        line-height: 24px;
                        text-align: center;
                        margin-bottom: 10px;
                    }
                    span {
                        color: #00437c;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
                .account {
                    p {
                        color: #333333;
                        font-family: Roboto;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 24px;
                        margin-top: 50px;
                        margin-bottom: 30px;
                    }
                    label {
                        &.active {
                            color: #9299a2;
                        }
                    }
                    .input_p {
                        margin-bottom: 30px;
                    }
                    .button_blue {
                        width: 100%;
                    }
                }
            }
        }
    }
}

#search {
    padding-bottom: 100px;
    .search {
        .path {
            p {
                color: #9299a2;
                font-family: Roboto;
                font-size: 12px;
                font-weight: 400;
                margin: 30px 0;
            }
        }
        .inp_search {
            width: 80%;
            p {
                color: #333333;
                font-family: Roboto;
                font-size: 36px;
                font-weight: 300;
                cursor: pointer;
            }
            .input_p {
                display: grid;
                align-items: center;
                justify-content: space-between;
                grid-template-columns: 4fr 1fr;
                button {
                    border: 0;
                    width: 100%;
                    margin-top: -1px;
                }
                .md-form {
                    label {
                        top: 10px;
                    }
                }
            }
            .search_list {
                padding: 40px 0;
                display: grid;
                grid-gap: 30px;
            }
        }
        .pagination {
            li {
                margin-right: 10px;
                &.text {
                    margin-left: 30px;
                }
            }
        }
    }
}

#create {
    padding-bottom: 100px;
    .create {
        .path {
            p {
                color: #9299a2;
                font-family: Roboto;
                font-size: 12px;
                font-weight: 400;
                margin: 30px 0;
            }
        }
        .main_crt {
            p {
                color: #333333;
                font-family: Roboto;
                font-size: 36px;
                font-weight: 300;
                margin-bottom: 30px;
            }
            .step {
                &.step_v1 {
                    form {
                        #step-1 {
                            p {
                                color: #333333;
                                font-family: Roboto;
                                font-size: 24px;
                                font-weight: 500;
                                line-height: 26px;
                                margin-bottom: 25px;
                                margin-top: 30px;
                            }
                            span {
                                color: #9299a2;
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 26px;
                            }
                            button {
                                margin-top: 60px;
                                margin-bottom: 50px;
                            }
                        }
                    }
                }
                .card {
                    background: none;
                    box-shadow: unset !important;
                }
                .steps-form {
                    .steps-row {
                        &:before {
                            background: none !important;
                        }
                        .steps-step {
                            text-align: left;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            p {
                                color: #333333;
                                font-family: Roboto;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                                margin: 0;
                                margin-left: 10px;
                            }
                            a {
                                color: #00437c !important;
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 500;
                                &.btn-default {
                                    background: #ebf5ff !important;
                                    &.btn-indigo {
                                        color: #ffffff !important;
                                        font-family: Roboto;
                                        font-size: 14px;
                                        font-weight: 500;
                                        background: #00437c !important;
                                    }
                                    &.btn-blue {
                                        background: #00437c !important;
                                        color: #ffffff !important;
                                    }
                                }
                            }
                            p {
                                color: #9299a2;
                                font-family: Roboto;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                                &.btn-default {
                                    &.btn-indigo {
                                        color: #333333;
                                        font-family: Roboto;
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 24px;
                                    }
                                }
                            }
                        }
                        .line_blue_v2 {
                            width: 25%;
                            height: 1px;
                            background-color: #00437c;
                            position: relative;
                            transform: translate(50%);
                        }
                    }
                }
                form {
                    .card {
                        background-color: #ffffff;
                        padding: 50px 0;
                        text-align: center;
                        margin-top: 50px;
                        width: 80%;
                        position: relative;
                        left: 50%;
                        transform: translate(-50%);
                        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.11) !important;
                        background-color: #ffffff;
                        p {
                            color: #333333;
                            font-family: Roboto;
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 26px;
                        }
                        .radio {
                            margin-bottom: 30px;
                        }
                    }
                    .setup-content {
                        button {
                            border: 0;
                            color: #ffffff;
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                        }
                        .radio {
                            text-align: left;
                            position: relative;
                            width: 50%;
                            left: 50%;
                            transform: translate(-50%);
                        }
                        .select_1 {
                            display: flex;
                            position: relative;
                            width: 50%;
                            left: 50%;
                            transform: translate(-50%);
                            align-items: center;
                            .selecting {
                                height: 50px;
                                border-radius: 2px;
                                border: 1px solid #9299a2;
                                background-color: #ffffff;
                                display: flex;
                                align-items: center;
                                padding-right: 15px;
                                width: 100%;
                                justify-content: space-between;
                                .mdb-select {
                                    width: 100%;
                                    input {
                                        margin: 0;
                                        height: 100%;
                                        width: 100%;
                                        border: 0;
                                        padding-left: 15px;
                                    }
                                    ul {
                                        overflow: unset;
                                        left: -50px !important;
                                    }
                                }
                                .button_blue {
                                    margin: 0;
                                }
                            }
                            p {
                                color: #9299a2;
                                font-family: Roboto;
                                font-size: 12px;
                                font-weight: 400;
                                position: absolute;
                                right: -160px;
                                text-align: left;
                                line-height: 15px;
                                margin: 0;
                            }
                            input {
                                &::placeholder {
                                    color: #9299a2;
                                    font-family: Roboto;
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 24px;
                                }
                            }
                        }
                        .button_blue {
                            margin-top: 50px;
                            position: relative;
                            left: 50%;
                            transform: translate(-50%);
                        }
                    }
                }
                form {
                    #step-9 {
                        .custom-control {
                            display: flex;
                            margin-top: -20px;
                            margin-bottom: 50px;
                        }
                        .card {
                            padding: 50px 30px;
                            .button_blue {
                                margin: 0;
                            }
                        }
                    }
                }
                form {
                    .card {
                        #dropzone p {
                            color: #9299a2;
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            margin: 0;
                        }
                        #dropzone a {
                            color: #69809b;
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                        }
                        #dropzone {
                            border-radius: 2px;
                            border: 1px dashed #9299a2;
                            background-color: #ffffff;
                            position: relative;
                            width: 50%;
                            left: 50%;
                            transform: translate(-50%);
                            padding: 30px 60px 20px 60px;
                            input {
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

#menu {
    .pos_2 {
        .menu {
            &.menu_v3 {
                grid-template-columns: 1fr 2fr 1fr 1fr;
                .free {
                    text-align: center;
                    p {
                        color: #333333;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        margin-bottom: 5px;
                    }
                    ul {
                        grid-template-columns: 1fr 1fr 1fr;
                        text-align: center;
                        li {
                            display: flex;
                            justify-content: center;
                            a {
                                color: #333333;
                                font-family: Roboto;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 25px;
                            }
                        }
                    }
                }
                .contact {
                    text-align: center;
                    p {
                        color: #333333;
                        font-family: Roboto;
                        font-size: 36px;
                        font-weight: 300;
                        line-height: 20px;
                        margin: 5px;
                    }
                    span {
                        color: #575c62;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                    }
                }
                .menu_ul {
                    display: flex;
                    align-items: center;
                    ul {
                        display: block;
                        width: auto;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

.step_v1 {
    display: none;
}

#step-1 {
    display: block !important;
}

@media (max-width: 1030px) {
    #petition {
        .tab-content {
            width: 85%;
        }
    }
}

@media (max-width: 780px) {
    #amend {
        .amend {
            .card {
                &.card_v1 {
                    .text_1 {
                        width: 85% !important;
                    }
                }
            }
        }
    }
}