.modal-open {
    .modal {
        overflow: unset !important;
        position: absolute;
    }
}

.custom-select {
    position: relative;
    font-family: Arial;
    padding: 0 !important;
    width: 75px !important;
    font-size: 14px;
    display: flex !important;
    align-items: center;
    border: 0 !important;
    background: none !important;
}

.custom-select i {
    position: absolute;
    right: 10px;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: none;
    height: 40px;
    width: 100%;
    color: #333333 !important;
    font-family: Roboto;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 24px;
    margin: 0;
    height: 70px !important;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .4s;
    justify-content: center;
}

/*style the arrow inside the select element:*/

/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
    padding: 8px 16px;
}

.select-items div {
    color: #222;
    height: 30px;
    padding: 5px 15px;
    cursor: pointer;
}

/*style items (options):*/

.select-items {
    position: absolute;
    background: #fff;
    list-style: none;
    font-size: 12px;
    padding: 5px 10px;
    text-align: left;
    display: flex;
}

/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: #00437c;
    color: #fff !important;
}

.modal-backdrop.show {
    opacity: 0 !important;
}
.g-recaptcha{
    display: flex;
    justify-content: center;
}

#menu {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    background-color: #fbfbfb;
    .container {
        position: relative;
    }
    #modalRegisterForm6 {
        .modal-dialog {
            right: 25%;
            .modal-content {
                &::before {
                    display: none;
                }
                .notif_1 {
                    border-bottom: 1px solid #dcdcdc;
                    padding: 10px 0;
                    p {
                        color: #333333;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        margin-bottom: 5px;
                    }
                    .span {
                        p {
                            color: #808080;
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
    .modal {
        .modal-dialog {
            top: 40px;
            float: right;
            width: 370px;
            &.user {
                top: 30px;
                float: right;
                width: auto;
            }
            .modal-content {
                &.user {
                    &::before {
                        background: none;
                    }
                }
                &:before {
                    content: "";
                    height: 35px;
                    width: 35px;
                    background-color: #00437c;
                    position: absolute;
                    top: -10px;
                    right: 82px;
                    transform: rotate(45deg);
                }
                .null {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 350px;
                    p {
                        color: #9299a2;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
                .mx-3 {
                    margin: 0 !important;
                    width: 100%;
                    display: grid;
                    grid-gap: 20px;
                }
                .modal-header {
                    height: 50px;
                    background-color: #00437c;
                    display: flex;
                    align-items: center;
                    h4 {
                        color: #ffffff;
                        font-family: Roboto;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
                .notif {
                    display: grid;
                    grid-template-columns: 1fr 5fr 1fr;
                    border-bottom: 1px solid #dcdcdc;
                    .clear {
                        display: flex;
                        justify-content: flex-end;
                    }
                    .img {
                        position: relative;
                        p {
                            position: absolute;
                            width: 11px;
                            height: 11px;
                            border: 1px solid #ffffff;
                            background-color: #dc4a3d;
                            border-radius: 50px;
                            top: 0;
                            right: 10px;
                        }
                    }
                    p {
                        color: #333333;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        span {
                            font-weight: 600;
                        }
                    }
                }
                .clear_all {
                    text-align: center;
                    a {
                        color: #69809b;
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 20px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 70px;
        align-items: center;
        .pos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr auto auto auto;
            align-items: center;
            .servic {
                i {
                    margin-right: 10px;
                }
                img {
                    margin-right: 10px;
                }
            }
            .user {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 20px;
                cursor: pointer;
                i {
                    margin-left: 10px;
                }
            }
            .colc {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-left: 40px;
                img {
                    background: #839db3;
                    padding: 5px;
                    border-radius: 30px;
                    cursor: pointer;
                }
            }
            a {
                color: #333333;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                margin: 0;
                height: 70px;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: all .4s;
                justify-content: center;
                &:hover {
                    color: #fff !important;
                    background: #00437c;
                }
            }
        }
        &.menu_v2 {
            grid-template-columns: 1fr 1fr;
            .logo {
                display: flex;
                align-items: center;
                p {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 500;
                    margin: 0;
                    margin-left: 25px;
                }
            }
            .pos {
                grid-template-columns: 1fr 1fr 1fr 1fr auto auto;
                p {
                    &.activ {
                        border-bottom: 2px solid #00437c;
                        color: #00437c;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }
            &.menu_v3 {
                grid-template-columns: 1fr 2fr;
                .pos {
                    grid-template-columns: 3fr 3fr 4fr 2fr;
                }
            }
        }
    }
}

#header {
    .container {
        display: flex;
        justify-content: center;
    }
    .slider {
        width: 90%;
        margin: 55px 0;
        .slick-next {
            width: 35px;
            height: 35px;
            box-shadow: 0 7px 16px rgba(0, 0, 0, 0.06);
            background-color: #fbfbfb;
            border-radius: 30px;
            &:hover {
                background: #00437c;
                color: #fff !important;
            }
            &:before {
                color: inherit;
                &:hover {
                    color: #fff !important;
                }
            }
        }
        .slick-prev {
            width: 35px;
            height: 35px;
            box-shadow: 0 7px 16px rgba(0, 0, 0, 0.06);
            background-color: #fbfbfb;
            border-radius: 30px;
            z-index: 999;
            &:hover {
                background: #00437c;
                color: #fff !important;
            }
            &:before {
                color: inherit;
            }
        }
        .blocking {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 30px;
            align-items: center;
            .text {
                h3 {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 48px;
                    font-weight: 300;
                    margin-bottom: 30px;
                }
                p {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 24px;
                    font-weight: 400;
                }
                span {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 24px;
                }
            }
        }
    }
}

#slider_menu {
    .tab-content {
        box-shadow: none;
        background: #fbfbfb;
    }
    .slider {
        &.autoplay {
            background: #eef2f6;
            padding: 0 60px;
        }
        .slick-next {
            right: 15px;
        }
        .slick-prev {
            left: 15px;
        }
        .slick-slide {
            text-align: center; //            width: auto !important;
            //            margin-left: 35px;
            p {
                color: #333333;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                margin: 0;
            }
            a {
                color: #333333;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                margin: 0;
                padding: 15px 0;
                &:focus {
                    outline: none;
                }
                &.active {
                    color: #00437c;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                    border-bottom: 2px solid #00437c;
                }
            }
        }
    }
}

#uchet {
    padding: 70px 0;
    p {
        color: #333333;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 300;
        margin-bottom: 50px;
        text-align: center;
    }
    .uchet {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 60px;
        .card {
            padding: 16px;
            text-align: center;
            box-shadow: none;
            cursor: pointer;
            background: #fbfbfb;
            border: 0;
            &:hover {
                box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04);
                background-color: #ffffff;
            }
            .collapsing {
                position: absolute;
            }
            .card-header {
                padding: 5px;
            }
            #collapseOne4 {
                .card-body {
                    top: 77px;
                }
                &.p4_1 {
                    .card-body {
                        top: 55px;
                    }
                }
            }
            .card-body {
                box-shadow: 0 10px 16px rgba(0, 0, 0, 0.06);
                background-color: #ffffff;
                position: absolute;
                z-index: 99;
                top: 55px;
                width: 78%;
                padding: 0;
                left: 50%;
                transform: translate(-50%);
                ul {
                    padding: 0;
                    margin: 0;
                    li {
                        list-style: none;
                        height: 50px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        a {
                            color: #333333;
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;
                        }
                        &:hover {
                            background-color: #eef2f6;
                        }
                    }
                }
            }
            .img {
                display: flex;
                justify-content: center;
                padding-top: 10px;
            }
            .text {
                p {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 400;
                    margin: 10px 0;
                    line-height: 21px;
                }
                span {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 24px;
                }
            }
            .button_white {
                p {
                    color: #00437c;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                    &.mb-0 {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        position: relative;
                        justify-content: center;
                        left: 50%;
                        TRANSFORM: TRANSLATE(-50%);
                        height: 50px;
                        background-color: #fbfbfb;
                        padding: 0;
                        width: 100%;
                        text-align: center;
                        &:hover {
                            border: 1px solid #00437c !important;
                        }
                        i {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

#fin {
    background-color: #f2f7fa;
    padding: 50px 0;
    .text {
        p {
            color: #333333;
            font-family: Roboto;
            font-size: 36px;
            font-weight: 300;
            text-align: center;
        }
    }
    #uchet {
        .uchet {
            .card {
                background-color: #f2f7fa;
                &:hover {
                    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04);
                    background-color: #ffffff;
                    .button_white {
                        p {
                            &.mb-0 {
                                background-color: #fff;
                            }
                        }
                    }
                }
                .button_white {
                    p {
                        &.mb-0 {
                            background-color: #f2f7fa;
                        }
                    }
                }
            }
        }
    }
}

#servic {
    padding: 90px 0;
    background: #fbfbfb;
    .text {
        p {
            color: #333333;
            font-family: Roboto;
            font-size: 36px;
            font-weight: 300;
            text-align: center;
        }
    }
    .cart {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        .cart_p {
            padding: 40px;
            p {
                color: #333333;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                margin-top: 15px;
            }
        }
    }
}

#footer {
    background: #eff4fa;
    padding: 40px 0;
    .footer {
        display: grid;
        grid-template-columns: 2fr 3fr 3fr 2fr;
        .text {
            p {
                color: #333333;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                span {
                    font-weight: 500;
                }
            }
        }
        .call {
            padding-left: 40px;
            p {
                color: #333333;
                font-family: Roboto;
                font-size: 36px;
                font-weight: 300;
                line-height: 20px;
            }
        }
        .help {
            color: #333333;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
            ul {
                padding: 0;
                margin: 0;
                li {
                    list-style: none;
                    a {
                        color: #69809b;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 26px;
                    }
                }
            }
        }
        &.footer_v2 {
            .text_1 {
                p {
                    color: #00437c;
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            .list_menu {
                p {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 26px;
                    margin-left: 40px;
                }
                li {
                    list-style: none;
                    a {
                        color: #333333;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 26px;
                        &:hover {
                            color: #00437c;
                        }
                    }
                }
            }
            .contact {
                p {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 26px;
                    margin-bottom: 30px;
                }
                span {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 36px;
                    font-weight: 300;
                    line-height: 20px;
                }
                .button_blue {
                    margin-top: 10px;
                }
            }
        }
    }
}

#error {
    background: url(../img/back_1.png);
    background-position: center;
    width: 100%;
    height: 59vh;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    .error {
        p {
            color: #333333;
            font-family: Roboto;
            font-size: 227px;
            font-weight: 900;
        }
        span {
            color: #333333;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            a {
                color: #00437c;
            }
        }
    }
}

.servic_pos {
    display: none;
    &.none {
        display: block;
    }
}