.modal-open .modal {
  overflow: unset !important;
  position: absolute;
}
.custom-select {
  position: relative;
  font-family: Arial;
  padding: 0 !important;
  width: 75px !important;
  font-size: 14px;
  display: flex !important;
  align-items: center;
  border: 0 !important;
  background: none !important;
}
.custom-select i {
  position: absolute;
  right: 10px;
}
.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}
.select-selected {
  background-color: none;
  height: 40px;
  color: #333333 !important;
  font-family: Roboto;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 24px;
  margin: 0;
  height: 70px !important;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .4s;
  justify-content: center;
}
/*style the arrow inside the select element:*/
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  padding: 8px 16px;
}
.select-items div {
  color: #222;
  height: 30px;
  padding: 5px 15px;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background: #fff;
  list-style: none;
  font-size: 12px;
  padding: 5px 10px;
  text-align: left;
  display: flex;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: #00437c;
  color: #fff !important;
}
.modal-backdrop.show {
  opacity: 0 !important;
}
.g-recaptcha {
  display: flex;
  justify-content: center;
}
#menu {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  background-color: #fbfbfb;
}
#menu .container {
  position: relative;
}
#menu #modalRegisterForm6 .modal-dialog {
  right: 25%;
}
#menu #modalRegisterForm6 .modal-dialog .modal-content::before {
  display: none;
}
#menu #modalRegisterForm6 .modal-dialog .modal-content .notif_1 {
  border-bottom: 1px solid #dcdcdc;
  padding: 10px 0;
}
#menu #modalRegisterForm6 .modal-dialog .modal-content .notif_1 p {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}
#menu #modalRegisterForm6 .modal-dialog .modal-content .notif_1 .span p {
  color: #808080;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
#menu .modal .modal-dialog {
  top: 40px;
  float: right;
  width: 370px;
}
#menu .modal .modal-dialog.user {
  top: 30px;
  float: right;
  width: auto;
}
#menu .modal .modal-dialog .modal-content.user::before {
  background: none;
}
#menu .modal .modal-dialog .modal-content:before {
  content: "";
  height: 35px;
  width: 35px;
  background-color: #00437c;
  position: absolute;
  top: -10px;
  right: 82px;
  transform: rotate(45deg);
}
#menu .modal .modal-dialog .modal-content .null {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
}
#menu .modal .modal-dialog .modal-content .null p {
  color: #9299a2;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
#menu .modal .modal-dialog .modal-content .mx-3 {
  margin: 0 !important;
  width: 100%;
  display: grid;
  grid-gap: 20px;
}
#menu .modal .modal-dialog .modal-content .modal-header {
  height: 50px;
  background-color: #00437c;
  display: flex;
  align-items: center;
}
#menu .modal .modal-dialog .modal-content .modal-header h4 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
#menu .modal .modal-dialog .modal-content .notif {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  border-bottom: 1px solid #dcdcdc;
}
#menu .modal .modal-dialog .modal-content .notif .clear {
  display: flex;
  justify-content: flex-end;
}
#menu .modal .modal-dialog .modal-content .notif .img {
  position: relative;
}
#menu .modal .modal-dialog .modal-content .notif .img p {
  position: absolute;
  width: 11px;
  height: 11px;
  border: 1px solid #ffffff;
  background-color: #dc4a3d;
  border-radius: 50px;
  top: 0;
  right: 10px;
}
#menu .modal .modal-dialog .modal-content .notif p {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
#menu .modal .modal-dialog .modal-content .notif p span {
  font-weight: 600;
}
#menu .modal .modal-dialog .modal-content .clear_all {
  text-align: center;
}
#menu .modal .modal-dialog .modal-content .clear_all a {
  color: #69809b;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}
#menu .menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70px;
  align-items: center;
}
#menu .menu .pos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto auto auto;
  align-items: center;
}
#menu .menu .pos .servic i {
  margin-right: 10px;
}
#menu .menu .pos .servic img {
  margin-right: 10px;
}
#menu .menu .pos .user {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  cursor: pointer;
}
#menu .menu .pos .user i {
  margin-left: 10px;
}
#menu .menu .pos .colc {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 40px;
}
#menu .menu .pos .colc img {
  background: #839db3;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
}
#menu .menu .pos a {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  height: 70px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .4s;
  justify-content: center;
}
#menu .menu .pos a:hover {
  color: #fff !important;
  background: #00437c;
}
#menu .menu.menu_v2 {
  grid-template-columns: 1fr 1fr;
}
#menu .menu.menu_v2 .logo {
  display: flex;
  align-items: center;
}
#menu .menu.menu_v2 .logo p {
  color: #333333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-left: 25px;
}
#menu .menu.menu_v2 .pos {
  grid-template-columns: 1fr 1fr 1fr 1fr auto auto;
}
#menu .menu.menu_v2 .pos p.activ {
  border-bottom: 2px solid #00437c;
  color: #00437c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
#menu .menu.menu_v2.menu_v3 {
  grid-template-columns: 1fr 2fr;
}
#menu .menu.menu_v2.menu_v3 .pos {
  grid-template-columns: 3fr 3fr 4fr 2fr;
}
#header .container {
  display: flex;
  justify-content: center;
}
#header .slider {
  width: 90%;
  margin: 55px 0;
}
#header .slider .slick-next {
  width: 35px;
  height: 35px;
  box-shadow: 0 7px 16px rgba(0, 0, 0, 0.06);
  background-color: #fbfbfb;
  border-radius: 30px;
}
#header .slider .slick-next:hover {
  background: #00437c;
  color: #fff !important;
}
#header .slider .slick-next:before {
  color: inherit;
}
#header .slider .slick-next:before:hover {
  color: #fff !important;
}
#header .slider .slick-prev {
  width: 35px;
  height: 35px;
  box-shadow: 0 7px 16px rgba(0, 0, 0, 0.06);
  background-color: #fbfbfb;
  border-radius: 30px;
  z-index: 999;
}
#header .slider .slick-prev:hover {
  background: #00437c;
  color: #fff !important;
}
#header .slider .slick-prev:before {
  color: inherit;
}
#header .slider .blocking {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  align-items: center;
}
#header .slider .blocking .text h3 {
  color: #333333;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 30px;
}
#header .slider .blocking .text p {
  color: #333333;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
}
#header .slider .blocking .text span {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
#slider_menu .tab-content {
  box-shadow: none;
  background: #fbfbfb;
}
#slider_menu .slider.autoplay {
  background: #eef2f6;
  padding: 0 60px;
}
#slider_menu .slider .slick-next {
  right: 15px;
}
#slider_menu .slider .slick-prev {
  left: 15px;
}
#slider_menu .slider .slick-slide {
  text-align: center;
}
#slider_menu .slider .slick-slide p {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
#slider_menu .slider .slick-slide a {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 15px 0;
}
#slider_menu .slider .slick-slide a:focus {
  outline: none;
}
#slider_menu .slider .slick-slide a.active {
  color: #00437c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  border-bottom: 2px solid #00437c;
}
#uchet {
  padding: 70px 0;
}
#uchet p {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 50px;
  text-align: center;
}
#uchet .uchet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 60px;
}
#uchet .uchet .card {
  padding: 16px;
  text-align: center;
  box-shadow: none;
  cursor: pointer;
  background: #fbfbfb;
  border: 0;
}
#uchet .uchet .card:hover {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}
#uchet .uchet .card .collapsing {
  position: absolute;
}
#uchet .uchet .card .card-header {
  padding: 5px;
}
#uchet .uchet .card #collapseOne4 .card-body {
  top: 77px;
}
#uchet .uchet .card #collapseOne4.p4_1 .card-body {
  top: 55px;
}
#uchet .uchet .card .card-body {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  position: absolute;
  z-index: 99;
  top: 55px;
  width: 78%;
  padding: 0;
  left: 50%;
  transform: translate(-50%);
}
#uchet .uchet .card .card-body ul {
  padding: 0;
  margin: 0;
}
#uchet .uchet .card .card-body ul li {
  list-style: none;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#uchet .uchet .card .card-body ul li a {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
#uchet .uchet .card .card-body ul li:hover {
  background-color: #eef2f6;
}
#uchet .uchet .card .img {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
#uchet .uchet .card .text p {
  color: #333333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0;
  line-height: 21px;
}
#uchet .uchet .card .text span {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
#uchet .uchet .card .button_white p {
  color: #00437c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
#uchet .uchet .card .button_white p.mb-0 {
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  left: 50%;
  TRANSFORM: TRANSLATE(-50%);
  height: 50px;
  background-color: #fbfbfb;
  padding: 0;
  width: 100%;
  text-align: center;
}
#uchet .uchet .card .button_white p.mb-0:hover {
  border: 1px solid #00437c !important;
}
#uchet .uchet .card .button_white p.mb-0 i {
  margin-left: 10px;
}
#fin {
  background-color: #f2f7fa;
  padding: 50px 0;
}
#fin .text p {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}
#fin #uchet .uchet .card {
  background-color: #f2f7fa;
}
#fin #uchet .uchet .card:hover {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}
#fin #uchet .uchet .card:hover .button_white p.mb-0 {
  background-color: #fff;
}
#fin #uchet .uchet .card .button_white p.mb-0 {
  background-color: #f2f7fa;
}
#servic {
  padding: 90px 0;
  background: #fbfbfb;
}
#servic .text p {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}
#servic .cart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}
#servic .cart .cart_p {
  padding: 40px;
}
#servic .cart .cart_p p {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
}
#footer {
  background: #eff4fa;
  padding: 40px 0;
}
#footer .footer {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 2fr;
}
#footer .footer .text p {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
#footer .footer .text p span {
  font-weight: 500;
}
#footer .footer .call {
  padding-left: 40px;
}
#footer .footer .call p {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  line-height: 20px;
}
#footer .footer .help {
  color: #333333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
#footer .footer .help ul {
  padding: 0;
  margin: 0;
}
#footer .footer .help ul li {
  list-style: none;
}
#footer .footer .help ul li a {
  color: #69809b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}
#footer .footer.footer_v2 .text_1 p {
  color: #00437c;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
}
#footer .footer.footer_v2 .list_menu p {
  color: #333333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-left: 40px;
}
#footer .footer.footer_v2 .list_menu li {
  list-style: none;
}
#footer .footer.footer_v2 .list_menu li a {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#footer .footer.footer_v2 .list_menu li a:hover {
  color: #00437c;
}
#footer .footer.footer_v2 .contact p {
  color: #333333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
}
#footer .footer.footer_v2 .contact span {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  line-height: 20px;
}
#footer .footer.footer_v2 .contact .button_blue {
  margin-top: 10px;
}
#error {
  background: url(../img/back_1.png);
  background-position: center;
  width: 100%;
  height: 59vh;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
}
#error .error p {
  color: #333333;
  font-family: Roboto;
  font-size: 227px;
  font-weight: 900;
}
#error .error span {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
#error .error span a {
  color: #00437c;
}
.servic_pos {
  display: none;
}
.servic_pos.none {
  display: block;
}
