.path {
    p {
        cursor: pointer !important;
    }
    a {
        cursor: pointer !important;
    }
}

#petition .pos_1 .card .text .text_2 p {
    cursor: pointer !important;
}

#petition .podpis,
#petition .comment {
    cursor: pointer !important;
}

@media (max-width:1030px) {
    #menu {
        overflow: hidden;
        height: fit-content;
        width: 100%;
        .container {
            max-width: 95%;
        }
        .pos_2 {
            .menu {
                &.menu_v3 {
                    .contact {
                        opacity: 0;
                    }
                }
            }
        }
    }
    #amend {
        .amend {
            .main_card {
                .result {
                    .voice {
                        p {
                            font-size: 14px;
                            line-height: 20px;
                        }
                        .time {
                            p {
                                font-size: 40px;
                            }
                        }
                    }
                }
            }
            .card {
                &.card_v1 {
                    background: url(../img/back_1.png);
                }
            }
        }
        &.open_pet {
            .out {
                .button_blue {
                    position: relative;
                    z-index: 999;
                }
            }
            .text {
                .dis_grid {
                    .social {
                        width: 25%;
                    }
                }
            }
        }
    }
    #create {
        .create {
            .main_crt {
                .step {
                    .steps-form {
                        .steps-row {
                            .line_blue_v2 {
                                width: 18%;
                            }
                        }
                    }
                }
            }
        }
    }
    #news {
        .news {
            .nav-tabs {
                width: 35%;
            }
            .tabs {
                .tab-content {
                    .tab-pane {
                        .new_1 {
                            .text {
                                padding: 0;
                                p {
                                    font-size: 16px;
                                }
                                span {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #history {
        #petition {
            .main_pos {
                .main_tab {
                    .tab-content {
                        .tab-pane ul {
                            grid-template-columns: auto auto auto auto;
                            width: 65%;
                        }
                    }
                }
            }
        }
    }
    #petition {
        .main_pos {
            .pos_1 {
                .main_text {
                    span {
                        opacity: 0;
                    }
                }
                .main_tab {
                    display: grid;
                    grid-template-columns: 1fr 3fr;
                    grid-gap: 30px;
                    .nav-tabs {
                        width: 100%;
                    }
                }
            }
            .main_tab {
                .tab-content {
                    &.copy_1 {
                        width: 100%;
                    }
                    &.copy_2 {
                        .tab-pane {
                            .text {
                                padding: 0;
                            }
                        }
                    }
                    .tab-pane {
                        ul {
                            width: 50%;
                        }
                    }
                }
                .nav-tabs {
                    padding: 0;
                }
            }
        }
    }
    #static {
        overflow: hidden;
        .static {
            .main_card_2 {
                #news {
                    .news {
                        .tab-content {
                            .tab-pane {
                                height: auto;
                                .text {
                                    position: relative;
                                    left: 0;
                                    grid-template-columns: 1fr 1fr;
                                    justify-content: center;
                                    text-align: center;
                                    width: 100%;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
                .card {
                    .diogram {
                        .text {
                            position: relative;
                            left: 0;
                            top: 35px;
                            grid-template-columns: 1fr 1fr;
                            justify-content: center;
                            text-align: center;
                            padding: 0;
                            grid-gap: 10px;
                            width: 75%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:780px) {
    body{
        overflow-x: hidden;
        width: 100%;
    }
    #menu {
        .menu {
            &.menu_v2 {
                .pos {
                    display: none;
                }
            }
        }
        .pos_1 {
            &.pos_1_v2 {
                .menu {
                    width: 75%;
                }
            }
        }
        .pos_2 {
            .menu {
                &.menu_v3 {
                    grid-template-columns: 1fr auto;
                    .free {
                        display: none;
                    }
                    .contact {
                        display: none;
                    }
                }
            }
        }
    }
    #setting {
        .setting {
            .dis_grid {
                .card {
                    padding: 15px;
                    .input {
                        width: 100%;
                    }
                }
                .card {
                    padding: 15px;
                    .input_p {
                        margin: 0;
                    }
                    .check {
                        .switch {
                            grid-template-columns: 2fr 1fr;
                        }
                    }
                }
            }
            .card {
                .pos_user {
                    width: 98%;
                    grid-gap: 20px;
                }
                .input_pos {
                    grid-gap: 20px;
                    .inp_2 {
                        width: 100%;
                        margin: 0;
                    }
                }
                .input_pos_v2 {
                    grid-gap: 20px;
                    .inp_text {
                        grid-gap: 5px;
                        p {
                            line-height: 15px;
                        }
                    }
                }
            }
        }
    }
    #search {
        .search {
            .inp_search {
                width: 100%;
                p {
                    font-size: 30px;
                    margin: 0;
                }
                .search_card {
                    width: 95%;
                }
            }
        }
    }
    #history {
        #petition {
            .main_pos {
                .main_tab {
                    .create {
                        width: 245px;
                        margin-top: -90px;
                        .text {
                            padding: 5px;
                        }
                    }
                    .tab-content {
                        .tab-pane ul {
                            grid-template-columns: auto auto auto auto;
                            width: 65%;
                        }
                    }
                }
            }
        }
    }
    #create {
        .create {
            .main_crt {
                .step {
                    .card {
                        padding: 0;
                        .card-body {
                            padding: 0;
                        }
                    }
                    .steps-form {
                        .steps-row {
                            grid-template-columns: 240px 240px 240px;
                            .steps-step {
                                a {
                                    margin: 0;
                                }
                            }
                            .line_blue_v2 {
                                width: 10%;
                                height: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
    #recovery {
        .recovery {
            grid-template-columns: 1fr 2fr 1fr;
            .pos_2{
                padding: 30px;
                text-align: center;
                .button_blue{
                    position: relative;
                    left: 50%;
                    transform: translate(-50%);
                }
                .dbl_button{
                    .button_blue{
                        left: 0;
                        transform: unset;
                    }
                }
            }
        }
    }
    #amend {
        .amend {
            .card {
                &.card_v1 {
                    .text {
                        .text_1 {
                            width: 85% !important;
                        }
                        .text_2 {
                            p {
                                font-size: 20px;
                            }
                        }
                        .text_3 {
                            width: 55% !important;
                        }
                    }
                }
            }
            .main_card {
                .result {
                    .voice {
                        grid-gap: 20px;
                    }
                }
            }
            .comment_glo {
                #petition {
                    .nav-tabs {
                        width: 85% !important;
                    }
                }
                #petition {
                    .pos_1 {
                        .main_text {
                            grid-template-columns: 3fr 2fr;
                        }
                        .card {
                            .text {
                                padding-right: 8px;
                            }
                        }
                    }
                    .tab-content {
                        width: 100%;
                    }
                    .nav-tabs {
                        float: none;
                        display: flex;
                        width: 93%;
                        text-align: right;
                    }
                }
            }
        }
    }
    #petition {
        .main_pos {
            .main_tab {
                .tab-content {
                    .tab-pane {
                        .card {
                            padding: 0;
                        }
                    }
                    &.copy_2 {
                        .card {
                            padding: 15px;
                        }
                    }
                }
            }
            .pos_1 {
                .main_tab {
                    grid-template-columns: 1fr;
                    .nav-tabs {
                        li {
                            text-align: center;
                        }
                        .project {
                            display: none;
                        }
                        .account {
                            margin-top: -40px;
                            .input_p {
                                display: none;
                            }
                            .radio {
                                display: none;
                            }
                            p {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    #footer {
        .footer {
            grid-template-columns: 1fr 2fr 1fr;
        }
        .text {
            display: none;
        }
    }
    #alarm {
        .alarm {
            .card_man {
                padding: 15px;
                span {
                    font-size: 28px;
                }
            }
        }
    }
    #static {
        .static {
            .main_card_1 {
                grid-template-columns: 1fr;
                overflow: hidden;
                .card {
                    grid-column: 1/3;
                }
            }
            .main_card_2 {
                grid-template-columns: 1fr;
                .card {
                    #news {
                        .news {
                            .tab-content {
                                .tab-pane {
                                    grid-template-columns: auto 1fr;
                                    .text {
                                        position: absolute;
                                        top: 30px;
                                        right: -30px;
                                        display: grid;
                                        grid-gap: 35px;
                                        align-items: center;
                                        left: 0;
                                        grid-template-columns: 1fr;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:430px) {
    #menu {
        .pos_1 {
            &.pos_1_v2 {
                .menu {
                    width: 100%;
                }
            }
        }
        .pos_2 {
            .menu {
                &.menu_v3 {
                    .menu_ul {
                        display: none;
                    }
                }
            }
        }
        .menu {
            .pos {
                display: none;
            }
        }
    }
    #setting {
        .setting {
            .card {
                padding: 15px;
                .pos_user {
                    grid-template-columns: 1fr;
                    width: 100%;
                    grid-gap: 0;
                    .foto {
                        position: relative;
                        left: 50%;
                        transform: translate(-50%);
                    }
                }
                .input_pos {
                    grid-gap: 0;
                    grid-template-columns: 1fr;
                }
                .input_pos_v2 {
                    grid-gap: 0;
                    grid-template-columns: 1fr;
                    .mail {
                        width: 100%;
                    }
                }
            }
            .text {
                padding-bottom: 0;
            }
            .dis_grid {
                grid-template-columns: 1fr;
            }
        }
    }
    #news {
        .news {
            .nav-tabs {
                width: 70%;
            }
            .tabs {
                .tab-content {
                    .tab-pane {
                        .glob_new {
                            grid-template-columns: 1fr;
                        }
                        .new_1 {
                            .text {
                                padding: 0;
                                p {
                                    font-size: 16px;
                                }
                                span {
                                    font-size: 14px;
                                }
                            }
                        }
                        .list_new {
                            grid-template-columns: 1fr;
                        }
                    }
                }
            }
        }
    }
    #history {
        #petition {
            .main_pos {
                .main_tab {
                    .create {
                        display: none;
                    }
                    .tab-content {
                        .tab-pane {
                            ul {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    #create {
        .create {
            .main_crt {
                .step {
                    form {
                        .card {
                            padding: 20px 15px;
                            width: 95%;
                            #dropzone {
                                width: 95%;
                            }
                        }
                        .col-md-12 {
                            padding: 0;
                        }
                    }
                    .card {
                        padding: 0;
                        .card-body {
                            padding: 0;
                        }
                    }
                    .steps-form {
                        .steps-row {
                            grid-template-columns: 1fr;
                            display: grid;
                            align-items: center;
                            justify-content: start;
                            grid-gap: 15px;
                            .line_blue_v2 {
                                display: none;
                            }
                            .steps-step {
                                justify-content: start;
                            }
                        }
                    }
                }
            }
        }
    }
    #recovery {
        padding: 40px 0;
        .recovery {
            &.sign {
                grid-template-columns: 1fr;
                .pos_2 {
                    .dbl_button {
                        grid-template-columns: 1fr;
                        .text {
                            justify-content: center;
                        }
                        .button_blue {
                            position: relative;
                            left: 50%;
                            transform: translate(-50%);
                        }
                    }
                }
            }
            grid-template-columns: 1fr;
            .pos_1 {
                display: none;
            }
            .pos_3 {
                padding: 10px;
            }
        }
        .copy {
            grid-template-columns: 1fr;
            div {
                display: block;
                justify-content: center;
                .flex_menu {
                    width: 100%;
                    text-align: center;
                    ul {
                        padding: 0;
                    }
                }
            }
        }
    }
    #consultation {
        .consul {
            .cart {
                textarea {
                    width: 100%;
                }
            }
        }
    }
    #amend {
        .amend {
            .card {
                padding: 0;
                &.card_v1 {
                    padding: 15px;
                    background: url(../img/back_1.png);
                    .text {
                        padding: 0;
                        .text_1 {
                            display: block;
                        }
                        .text_2 {
                            p {}
                        }
                        .text_3 {
                            width: 100% !important;
                            display: block;
                        }
                    }
                }
            }
            .main_card {                
                padding: 5px;
                align-items: center;
                .result {
                    grid-template-columns: 1fr !important;
                    grid-gap: 15px;
                    padding: 15px;
                }
            }
            .out {
                grid-template-columns: 1fr;
            }
            .comment_glo {
                .card-body {
                    padding: 0;
                }
                #petition {
                    .nav-tabs {
                        width: 100% !important;
                    }
                }
            }
        }
    }
    #footer {
        .footer {
            grid-template-columns: 1fr 1fr;
            &.footer_v2 {
                .list_menu {
                    grid-column: 1/2;
                    p {
                        margin-left: 0;
                    }
                    ul {
                        padding: 0;
                    }
                }
            }
        }
    }
    #alarm {
        .alarm {
            .dbl_pos {
                grid-template-columns: 1fr;
            }
        }
    }
    #petition {
        .main_pos {
            .pos_1 {
                .main_tab {
                    .nav-tabs {
                        .account {
                            margin-top: -110px;
                            position: absolute;
                            right: 0;
                            p {
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    #error{
        .error{
            .text{
                text-align: center;
                p{
                    font-size: 165px;
                }
            }
        }
    }
    #static {
        background: url(../img/back_1.png);
        .static {
            overflow: hidden;
            #news {
                .news {
                    .tab-content {
                        .tab-pane {}
                    }
                }
            }
            .main_card_1 {
                .card {
                    padding: 25px;
                    p {
                        font-size: 30px;
                    }
                }
            }
            .main_card_2 {
                .card {
                    padding: 25px;
                    padding-bottom: 50px;
                    #news {
                        .news {
                            .tab-content {
                                .tab-pane {
                                    canvas {
                                        left: 0;
                                    }
                                    .text {
                                        position: relative;
                                        left: 0;
                                        top: 35px;
                                        grid-template-columns: 1fr 1fr;
                                        justify-content: center;
                                        text-align: center;
                                        padding: 0;
                                        grid-gap: 10px;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
                .card {
                    .diogram {
                        grid-template-columns: 1fr;
                        grid-gap: 70px;
                        .dio_1 {
                            canvas {
                                left: 0;
                            }
                        }
                        .text {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:380px) {
    #amend {
        .amend {
            .main_card {
                .result {
                    .voice {
                        p {
                            font-size: 14px;
                            line-height: 16px;
                        }
                        .plus_red {
                            width: 70px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            p {
                                padding: 0;
                            }
                        }
                        .plus_green {
                            width: 70px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            p {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    #error{
        .error{
            .text{
                text-align: center;
                p{
                    font-size: 120px;
                }
            }
        }
    }
    #search {
        .search {
            .button_blue {
                left: 0;
                transform: unset;
            }
            .search_card {
                p {
                    font-size: 16px !important;
                    margin: 0 !important;
                }
            }
            .pagination {
                li {
                    margin: 0;
                }
            }
        }
    }
    #footer {
        .footer {
            grid-template-columns: 1fr;
            grid-gap: 30px;
            text-align: center;
            &.footer_v2 {
                grid-gap: 10px;
                .list_menu {
                    display: none;
                }
            }
            .call {
                padding: 0;
            }
        }
    }
    .button_blue {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    #petition {
        .main_pos {
            .main_tab {
                .tab-content {
                    .tab-pane {
                        ul {
                            width: 70%;
                        }
                    }
                }
            }
        }
    }
    #recovery {
        .recovery {
            &.sign {
                .pos_2 {
                    .custom-control {
                        margin: 0;
                    }
                    &.pos_v2 {
                        .dbl_button {
                            grid-gap: 25px;
                        }
                        grid-gap: 25px;
                    }
                }
            }
            .dbl_button {
                grid-template-columns: 1fr;
                grid-gap: 15px;
                .button_blue {
                    width: 100%;
                }
                .button_white {
                    width: 100%;
                }
            }
            .button_blue {
                left: 0;
                transform: unset;
            }
        }
    }
}

@media (max-width:325px) {
    #menu {
        .pos_1 {
            &.pos_1_v2 {
                .menu {
                    .servic {
                        opacity: 0;
                    }
                }
            }
        }
    }
    #setting {
        .setting {
            .text {
                span {
                    font-size: 30px;
                }
            }
        }
    }
    #static {
        .static {
            .list {
                .card {
                    padding: 10px;
                }
                p {
                    font-size: 18px;
                }
                thead {
                    tr {
                        th:nth-child(1) {
                            padding: 5px;
                            font-size: 12px;
                        }
                        th {
                            font-size: 12px;
                            line-height: 15px;
                            padding: 5px;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            &:nth-child(1) {
                                padding: 5px;
                                border-right: 1px solid #e8e8e8;
                                font-size: 12px;
                            }
                            &:nth-child(2) {
                                padding: 5px;
                                font-size: 12px;
                            }
                            &:nth-child(3) {
                                padding: 5px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .main_card_1 {
                grid-gap: 15px;
            }
            .main_card_2 {
                overflow: hidden;
                grid-gap: 15px;
                .card {
                    #news {
                        .news {
                            .tab-content {
                                .tab-pane {
                                    canvas {
                                        left: -25px;
                                    }
                                    .text {
                                        width: 80%;
                                    }
                                }
                            }
                        }
                    }
                    .diogram {
                        .dio_1 {
                            canvas {
                                left: -25px;
                            }
                        }
                        .text {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
    #amend {
        &.open_pet {
            .pagination {
                .page-item {
                    margin: 0;
                }
            }
            .text {
                .dis_grid {
                    .social {
                        width: 35%;
                    }
                }
            }
            .dbl_button {
                .plus_red {
                    width: 70px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p {
                        padding: 0;
                        margin: 0;
                    }
                }
                .plus_green {
                    width: 70px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p {
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
        .amend {
            .card {
                .text_2 {
                    p {
                        line-height: 30px;
                    }
                }
            }
            .main_card {
                .result {
                    padding: 15px 0;
                    .number {
                        display: none;
                    }
                    .voice {
                        grid-gap: 13px;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                    }
                }
            }
        }
    }
    #news {
        .news {
            .nav-tabs {
                width: 100%;
            }
        }
    }
    #create {
        .create {
            .main_crt {
                p {
                    font-size: 30px;
                }
            }
        }
    }
    #recovery {
        .recovery {
            .pos_2 {
                padding: 10px;
                p {
                    text-align: center;
                }
            }
        }
    }
    #petition {
        .main_pos {
            .pos_1 {
                .main_tab {
                    .nav-tabs {
                        display: block;
                        .account {
                            display: none;
                        }
                    }
                }
            }
            .main_tab {
                .tab-content {
                    .tab-pane {
                        ul {
                            li {
                                margin: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}