.path p {
  cursor: pointer !important;
}
.path a {
  cursor: pointer !important;
}
#petition .pos_1 .card .text .text_2 p {
  cursor: pointer !important;
}
#petition .podpis,
#petition .comment {
  cursor: pointer !important;
}
@media (max-width: 1030px) {
  #menu {
    overflow: hidden;
    height: fit-content;
    width: 100%;
  }
  #menu .container {
    max-width: 95%;
  }
  #menu .pos_2 .menu.menu_v3 .contact {
    opacity: 0;
  }
  #amend .amend .main_card .result .voice p {
    font-size: 14px;
    line-height: 20px;
  }
  #amend .amend .main_card .result .voice .time p {
    font-size: 40px;
  }
  #amend .amend .card.card_v1 {
    background: url(../img/back_1.png);
  }
  #amend.open_pet .out .button_blue {
    position: relative;
    z-index: 999;
  }
  #amend.open_pet .text .dis_grid .social {
    width: 25%;
  }
  #create .create .main_crt .step .steps-form .steps-row .line_blue_v2 {
    width: 18%;
  }
  #news .news .nav-tabs {
    width: 35%;
  }
  #news .news .tabs .tab-content .tab-pane .new_1 .text {
    padding: 0;
  }
  #news .news .tabs .tab-content .tab-pane .new_1 .text p {
    font-size: 16px;
  }
  #news .news .tabs .tab-content .tab-pane .new_1 .text span {
    font-size: 14px;
  }
  #history #petition .main_pos .main_tab .tab-content .tab-pane ul {
    grid-template-columns: auto auto auto auto;
    width: 65%;
  }
  #petition .main_pos .pos_1 .main_text span {
    opacity: 0;
  }
  #petition .main_pos .pos_1 .main_tab {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 30px;
  }
  #petition .main_pos .pos_1 .main_tab .nav-tabs {
    width: 100%;
  }
  #petition .main_pos .main_tab .tab-content.copy_1 {
    width: 100%;
  }
  #petition .main_pos .main_tab .tab-content.copy_2 .tab-pane .text {
    padding: 0;
  }
  #petition .main_pos .main_tab .tab-content .tab-pane ul {
    width: 50%;
  }
  #petition .main_pos .main_tab .nav-tabs {
    padding: 0;
  }
  #static {
    overflow: hidden;
  }
  #static .static .main_card_2 #news .news .tab-content .tab-pane {
    height: auto;
  }
  #static .static .main_card_2 #news .news .tab-content .tab-pane .text {
    position: relative;
    left: 0;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0;
  }
  #static .static .main_card_2 .card .diogram .text {
    position: relative;
    left: 0;
    top: 35px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
    padding: 0;
    grid-gap: 10px;
    width: 75%;
  }
}
@media (max-width: 780px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }
  #menu .menu.menu_v2 .pos {
    display: none;
  }
  #menu .pos_1.pos_1_v2 .menu {
    width: 75%;
  }
  #menu .pos_2 .menu.menu_v3 {
    grid-template-columns: 1fr auto;
  }
  #menu .pos_2 .menu.menu_v3 .free {
    display: none;
  }
  #menu .pos_2 .menu.menu_v3 .contact {
    display: none;
  }
  #setting .setting .dis_grid .card {
    padding: 15px;
  }
  #setting .setting .dis_grid .card .input {
    width: 100%;
  }
  #setting .setting .dis_grid .card {
    padding: 15px;
  }
  #setting .setting .dis_grid .card .input_p {
    margin: 0;
  }
  #setting .setting .dis_grid .card .check .switch {
    grid-template-columns: 2fr 1fr;
  }
  #setting .setting .card .pos_user {
    width: 98%;
    grid-gap: 20px;
  }
  #setting .setting .card .input_pos {
    grid-gap: 20px;
  }
  #setting .setting .card .input_pos .inp_2 {
    width: 100%;
    margin: 0;
  }
  #setting .setting .card .input_pos_v2 {
    grid-gap: 20px;
  }
  #setting .setting .card .input_pos_v2 .inp_text {
    grid-gap: 5px;
  }
  #setting .setting .card .input_pos_v2 .inp_text p {
    line-height: 15px;
  }
  #search .search .inp_search {
    width: 100%;
  }
  #search .search .inp_search p {
    font-size: 30px;
    margin: 0;
  }
  #search .search .inp_search .search_card {
    width: 95%;
  }
  #history #petition .main_pos .main_tab .create {
    width: 245px;
    margin-top: -90px;
  }
  #history #petition .main_pos .main_tab .create .text {
    padding: 5px;
  }
  #history #petition .main_pos .main_tab .tab-content .tab-pane ul {
    grid-template-columns: auto auto auto auto;
    width: 65%;
  }
  #create .create .main_crt .step .card {
    padding: 0;
  }
  #create .create .main_crt .step .card .card-body {
    padding: 0;
  }
  #create .create .main_crt .step .steps-form .steps-row {
    grid-template-columns: 240px 240px 240px;
  }
  #create .create .main_crt .step .steps-form .steps-row .steps-step a {
    margin: 0;
  }
  #create .create .main_crt .step .steps-form .steps-row .line_blue_v2 {
    width: 10%;
    height: 2px;
  }
  #recovery .recovery {
    grid-template-columns: 1fr 2fr 1fr;
  }
  #recovery .recovery .pos_2 {
    padding: 30px;
    text-align: center;
  }
  #recovery .recovery .pos_2 .button_blue {
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  #recovery .recovery .pos_2 .dbl_button .button_blue {
    left: 0;
    transform: unset;
  }
  #amend .amend .card.card_v1 .text .text_1 {
    width: 85% !important;
  }
  #amend .amend .card.card_v1 .text .text_2 p {
    font-size: 20px;
  }
  #amend .amend .card.card_v1 .text .text_3 {
    width: 55% !important;
  }
  #amend .amend .main_card .result .voice {
    grid-gap: 20px;
  }
  #amend .amend .comment_glo #petition .nav-tabs {
    width: 85% !important;
  }
  #amend .amend .comment_glo #petition .pos_1 .main_text {
    grid-template-columns: 3fr 2fr;
  }
  #amend .amend .comment_glo #petition .pos_1 .card .text {
    padding-right: 8px;
  }
  #amend .amend .comment_glo #petition .tab-content {
    width: 100%;
  }
  #amend .amend .comment_glo #petition .nav-tabs {
    float: none;
    display: flex;
    width: 93%;
    text-align: right;
  }
  #petition .main_pos .main_tab .tab-content .tab-pane .card {
    padding: 0;
  }
  #petition .main_pos .main_tab .tab-content.copy_2 .card {
    padding: 15px;
  }
  #petition .main_pos .pos_1 .main_tab {
    grid-template-columns: 1fr;
  }
  #petition .main_pos .pos_1 .main_tab .nav-tabs li {
    text-align: center;
  }
  #petition .main_pos .pos_1 .main_tab .nav-tabs .project {
    display: none;
  }
  #petition .main_pos .pos_1 .main_tab .nav-tabs .account {
    margin-top: -40px;
  }
  #petition .main_pos .pos_1 .main_tab .nav-tabs .account .input_p {
    display: none;
  }
  #petition .main_pos .pos_1 .main_tab .nav-tabs .account .radio {
    display: none;
  }
  #petition .main_pos .pos_1 .main_tab .nav-tabs .account p {
    margin-top: 0;
  }
  #footer .footer {
    grid-template-columns: 1fr 2fr 1fr;
  }
  #footer .text {
    display: none;
  }
  #alarm .alarm .card_man {
    padding: 15px;
  }
  #alarm .alarm .card_man span {
    font-size: 28px;
  }
  #static .static .main_card_1 {
    grid-template-columns: 1fr;
    overflow: hidden;
  }
  #static .static .main_card_1 .card {
    grid-column: 0.33333333;
  }
  #static .static .main_card_2 {
    grid-template-columns: 1fr;
  }
  #static .static .main_card_2 .card #news .news .tab-content .tab-pane {
    grid-template-columns: auto 1fr;
  }
  #static .static .main_card_2 .card #news .news .tab-content .tab-pane .text {
    position: absolute;
    top: 30px;
    right: -30px;
    display: grid;
    grid-gap: 35px;
    align-items: center;
    left: 0;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 430px) {
  #menu .pos_1.pos_1_v2 .menu {
    width: 100%;
  }
  #menu .pos_2 .menu.menu_v3 .menu_ul {
    display: none;
  }
  #menu .menu .pos {
    display: none;
  }
  #setting .setting .card {
    padding: 15px;
  }
  #setting .setting .card .pos_user {
    grid-template-columns: 1fr;
    width: 100%;
    grid-gap: 0;
  }
  #setting .setting .card .pos_user .foto {
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  #setting .setting .card .input_pos {
    grid-gap: 0;
    grid-template-columns: 1fr;
  }
  #setting .setting .card .input_pos_v2 {
    grid-gap: 0;
    grid-template-columns: 1fr;
  }
  #setting .setting .card .input_pos_v2 .mail {
    width: 100%;
  }
  #setting .setting .text {
    padding-bottom: 0;
  }
  #setting .setting .dis_grid {
    grid-template-columns: 1fr;
  }
  #news .news .nav-tabs {
    width: 70%;
  }
  #news .news .tabs .tab-content .tab-pane .glob_new {
    grid-template-columns: 1fr;
  }
  #news .news .tabs .tab-content .tab-pane .new_1 .text {
    padding: 0;
  }
  #news .news .tabs .tab-content .tab-pane .new_1 .text p {
    font-size: 16px;
  }
  #news .news .tabs .tab-content .tab-pane .new_1 .text span {
    font-size: 14px;
  }
  #news .news .tabs .tab-content .tab-pane .list_new {
    grid-template-columns: 1fr;
  }
  #history #petition .main_pos .main_tab .create {
    display: none;
  }
  #history #petition .main_pos .main_tab .tab-content .tab-pane ul {
    width: 100%;
  }
  #create .create .main_crt .step form .card {
    padding: 20px 15px;
    width: 95%;
  }
  #create .create .main_crt .step form .card #dropzone {
    width: 95%;
  }
  #create .create .main_crt .step form .col-md-12 {
    padding: 0;
  }
  #create .create .main_crt .step .card {
    padding: 0;
  }
  #create .create .main_crt .step .card .card-body {
    padding: 0;
  }
  #create .create .main_crt .step .steps-form .steps-row {
    grid-template-columns: 1fr;
    display: grid;
    align-items: center;
    justify-content: start;
    grid-gap: 15px;
  }
  #create .create .main_crt .step .steps-form .steps-row .line_blue_v2 {
    display: none;
  }
  #create .create .main_crt .step .steps-form .steps-row .steps-step {
    justify-content: start;
  }
  #recovery {
    padding: 40px 0;
  }
  #recovery .recovery {
    grid-template-columns: 1fr;
  }
  #recovery .recovery.sign {
    grid-template-columns: 1fr;
  }
  #recovery .recovery.sign .pos_2 .dbl_button {
    grid-template-columns: 1fr;
  }
  #recovery .recovery.sign .pos_2 .dbl_button .text {
    justify-content: center;
  }
  #recovery .recovery.sign .pos_2 .dbl_button .button_blue {
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  #recovery .recovery .pos_1 {
    display: none;
  }
  #recovery .recovery .pos_3 {
    padding: 10px;
  }
  #recovery .copy {
    grid-template-columns: 1fr;
  }
  #recovery .copy div {
    display: block;
    justify-content: center;
  }
  #recovery .copy div .flex_menu {
    width: 100%;
    text-align: center;
  }
  #recovery .copy div .flex_menu ul {
    padding: 0;
  }
  #consultation .consul .cart textarea {
    width: 100%;
  }
  #amend .amend .card {
    padding: 0;
  }
  #amend .amend .card.card_v1 {
    padding: 15px;
    background: url(../img/back_1.png);
  }
  #amend .amend .card.card_v1 .text {
    padding: 0;
  }
  #amend .amend .card.card_v1 .text .text_1 {
    display: block;
  }
  #amend .amend .card.card_v1 .text .text_3 {
    width: 100% !important;
    display: block;
  }
  #amend .amend .main_card {
    padding: 5px;
    align-items: center;
  }
  #amend .amend .main_card .result {
    grid-template-columns: 1fr !important;
    grid-gap: 15px;
    padding: 15px;
  }
  #amend .amend .out {
    grid-template-columns: 1fr;
  }
  #amend .amend .comment_glo .card-body {
    padding: 0;
  }
  #amend .amend .comment_glo #petition .nav-tabs {
    width: 100% !important;
  }
  #footer .footer {
    grid-template-columns: 1fr 1fr;
  }
  #footer .footer.footer_v2 .list_menu {
    grid-column: 0.5;
  }
  #footer .footer.footer_v2 .list_menu p {
    margin-left: 0;
  }
  #footer .footer.footer_v2 .list_menu ul {
    padding: 0;
  }
  #alarm .alarm .dbl_pos {
    grid-template-columns: 1fr;
  }
  #petition .main_pos .pos_1 .main_tab .nav-tabs .account {
    margin-top: -110px;
    position: absolute;
    right: 0;
  }
  #petition .main_pos .pos_1 .main_tab .nav-tabs .account p {
    margin-bottom: 15px;
  }
  #error .error .text {
    text-align: center;
  }
  #error .error .text p {
    font-size: 165px;
  }
  #static {
    background: url(../img/back_1.png);
  }
  #static .static {
    overflow: hidden;
  }
  #static .static .main_card_1 .card {
    padding: 25px;
  }
  #static .static .main_card_1 .card p {
    font-size: 30px;
  }
  #static .static .main_card_2 .card {
    padding: 25px;
    padding-bottom: 50px;
  }
  #static .static .main_card_2 .card #news .news .tab-content .tab-pane canvas {
    left: 0;
  }
  #static .static .main_card_2 .card #news .news .tab-content .tab-pane .text {
    position: relative;
    left: 0;
    top: 35px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
    padding: 0;
    grid-gap: 10px;
    width: 100%;
  }
  #static .static .main_card_2 .card .diogram {
    grid-template-columns: 1fr;
    grid-gap: 70px;
  }
  #static .static .main_card_2 .card .diogram .dio_1 canvas {
    left: 0;
  }
  #static .static .main_card_2 .card .diogram .text {
    width: 100%;
  }
}
@media (max-width: 380px) {
  #amend .amend .main_card .result .voice p {
    font-size: 14px;
    line-height: 16px;
  }
  #amend .amend .main_card .result .voice .plus_red {
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #amend .amend .main_card .result .voice .plus_red p {
    padding: 0;
  }
  #amend .amend .main_card .result .voice .plus_green {
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #amend .amend .main_card .result .voice .plus_green p {
    padding: 0;
  }
  #error .error .text {
    text-align: center;
  }
  #error .error .text p {
    font-size: 120px;
  }
  #search .search .button_blue {
    left: 0;
    transform: unset;
  }
  #search .search .search_card p {
    font-size: 16px !important;
    margin: 0 !important;
  }
  #search .search .pagination li {
    margin: 0;
  }
  #footer .footer {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    text-align: center;
  }
  #footer .footer.footer_v2 {
    grid-gap: 10px;
  }
  #footer .footer.footer_v2 .list_menu {
    display: none;
  }
  #footer .footer .call {
    padding: 0;
  }
  .button_blue {
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  #petition .main_pos .main_tab .tab-content .tab-pane ul {
    width: 70%;
  }
  #recovery .recovery.sign .pos_2 .custom-control {
    margin: 0;
  }
  #recovery .recovery.sign .pos_2.pos_v2 {
    grid-gap: 25px;
  }
  #recovery .recovery.sign .pos_2.pos_v2 .dbl_button {
    grid-gap: 25px;
  }
  #recovery .recovery .dbl_button {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
  #recovery .recovery .dbl_button .button_blue {
    width: 100%;
  }
  #recovery .recovery .dbl_button .button_white {
    width: 100%;
  }
  #recovery .recovery .button_blue {
    left: 0;
    transform: unset;
  }
}
@media (max-width: 325px) {
  #menu .pos_1.pos_1_v2 .menu .servic {
    opacity: 0;
  }
  #setting .setting .text span {
    font-size: 30px;
  }
  #static .static .list .card {
    padding: 10px;
  }
  #static .static .list p {
    font-size: 18px;
  }
  #static .static .list thead tr th:nth-child(1) {
    padding: 5px;
    font-size: 12px;
  }
  #static .static .list thead tr th {
    font-size: 12px;
    line-height: 15px;
    padding: 5px;
  }
  #static .static .list tbody tr td:nth-child(1) {
    padding: 5px;
    border-right: 1px solid #e8e8e8;
    font-size: 12px;
  }
  #static .static .list tbody tr td:nth-child(2) {
    padding: 5px;
    font-size: 12px;
  }
  #static .static .list tbody tr td:nth-child(3) {
    padding: 5px;
    font-size: 12px;
  }
  #static .static .main_card_1 {
    grid-gap: 15px;
  }
  #static .static .main_card_2 {
    overflow: hidden;
    grid-gap: 15px;
  }
  #static .static .main_card_2 .card #news .news .tab-content .tab-pane canvas {
    left: -25px;
  }
  #static .static .main_card_2 .card #news .news .tab-content .tab-pane .text {
    width: 80%;
  }
  #static .static .main_card_2 .card .diogram .dio_1 canvas {
    left: -25px;
  }
  #static .static .main_card_2 .card .diogram .text {
    width: 80%;
  }
  #amend.open_pet .pagination .page-item {
    margin: 0;
  }
  #amend.open_pet .text .dis_grid .social {
    width: 35%;
  }
  #amend.open_pet .dbl_button .plus_red {
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #amend.open_pet .dbl_button .plus_red p {
    padding: 0;
    margin: 0;
  }
  #amend.open_pet .dbl_button .plus_green {
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #amend.open_pet .dbl_button .plus_green p {
    padding: 0;
    margin: 0;
  }
  #amend .amend .card .text_2 p {
    line-height: 30px;
  }
  #amend .amend .main_card .result {
    padding: 15px 0;
  }
  #amend .amend .main_card .result .number {
    display: none;
  }
  #amend .amend .main_card .result .voice {
    grid-gap: 13px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #news .news .nav-tabs {
    width: 100%;
  }
  #create .create .main_crt p {
    font-size: 30px;
  }
  #recovery .recovery .pos_2 {
    padding: 10px;
  }
  #recovery .recovery .pos_2 p {
    text-align: center;
  }
  #petition .main_pos .pos_1 .main_tab .nav-tabs {
    display: block;
  }
  #petition .main_pos .pos_1 .main_tab .nav-tabs .account {
    display: none;
  }
  #petition .main_pos .main_tab .tab-content .tab-pane ul li {
    margin: 0 !important;
  }
}
