body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#recovery {
    padding: 65px 0;
    .recovery {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        text-align: center;
        p {
            color: #333333;
            font-family: Roboto;
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
        }
        .pos_2 {
            display: grid;
            grid-gap: 30px;
            padding: 40px;
            box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
            border-radius: 2px;
            background-color: #fbfbfb;
            text-align: left;
            justify-content: center;
            text-align: center;
            p {
                &.num {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-top: -30px;
                    margin-bottom: -30px;
                }
                &.not {
                    font-family: Roboto;
                    color: #9299a2;
                    font-size: 12px;
                    font-weight: 400;
                    margin-top: -20px;
                    a {
                        color: #00437c;
                    }
                }
            }
            .input_p {
                a {
                    position: absolute;
                    bottom: -25px;
                    right: 0;
                    color: #00437c;
                    font-family: Roboto;
                    font-size: 12px;
                    font-weight: 400;
                }
            }
            .custom-control {
                margin-top: 40px;
                label {
                    color: #9299a2;
                    font-family: Roboto;
                    font-size: 12px;
                    font-weight: 400;
                    a {
                        color: #00437c;
                    }
                }
            }
            // .button_blue {
            //     width: 100%;
            // }
            .img{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .text {
                text-align: center;
                p {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-top: -10px;
                }
            }
            .button_blue{
                width: 100%;
            }
           
        }
        .pos_3 {
            padding-top: 40px;
            padding-left: 120px;
            p {
                color: #69809b;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
        }
        &.sign {
            grid-template-columns: 1fr 5fr 1fr;
            text-align: center;
            .pos_2 {
                text-align: center;
                .dbl_button {
                    text-align: left;
                }
                .custom-control {
                    display: flex;
                    align-items: center;
                    margin-top: 30px;
                }
                .dbl_button {
                    .text {
                        display: flex;
                        align-items: center;
                        a {
                            color: #00437c;
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                        }
                    }
                }
            }
            .pos_3 {
                padding-left: 10px;
            }
        }
    }
    .copy {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        align-items: center;
        .lang {
            display: flex;
            align-items: center;
            input {
                color: #69809b;
                font-family: Roboto;
                font-size: 12px;
                font-weight: 400;
                border: 0;
                width: 90px;
                margin: 0;
            }
            i {
                font-size: 12px;
                margin-left: -15px;
            }
        }
        div {
            display: flex;
            justify-content: space-between;
        }
        .flex_menu {
            width: 50%;
            text-align: right;
            ul {
                display: grid;
                grid-template-columns: auto auto auto;
                width: 100%;
                margin: 0;
                align-items: center;
                li {
                    list-style: none;
                    a {
                        color: #69809b;
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}