body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
#recovery {
  padding: 65px 0;
}
#recovery .recovery {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  text-align: center;
}
#recovery .recovery p {
  color: #333333;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}
#recovery .recovery .pos_2 {
  display: grid;
  grid-gap: 30px;
  padding: 40px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  background-color: #fbfbfb;
  text-align: left;
  justify-content: center;
  text-align: center;
}
#recovery .recovery .pos_2 p.num {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: -30px;
  margin-bottom: -30px;
}
#recovery .recovery .pos_2 p.not {
  font-family: Roboto;
  color: #9299a2;
  font-size: 12px;
  font-weight: 400;
  margin-top: -20px;
}
#recovery .recovery .pos_2 p.not a {
  color: #00437c;
}
#recovery .recovery .pos_2 .input_p a {
  position: absolute;
  bottom: -25px;
  right: 0;
  color: #00437c;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}
#recovery .recovery .pos_2 .custom-control {
  margin-top: 40px;
}
#recovery .recovery .pos_2 .custom-control label {
  color: #9299a2;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}
#recovery .recovery .pos_2 .custom-control label a {
  color: #00437c;
}
#recovery .recovery .pos_2 .img {
  display: flex;
  align-items: center;
  justify-content: center;
}
#recovery .recovery .pos_2 .text {
  text-align: center;
}
#recovery .recovery .pos_2 .text p {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: -10px;
}
#recovery .recovery .pos_2 .button_blue {
  width: 100%;
}
#recovery .recovery .pos_3 {
  padding-top: 40px;
  padding-left: 120px;
}
#recovery .recovery .pos_3 p {
  color: #69809b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
#recovery .recovery.sign {
  grid-template-columns: 1fr 5fr 1fr;
  text-align: center;
}
#recovery .recovery.sign .pos_2 {
  text-align: center;
}
#recovery .recovery.sign .pos_2 .dbl_button {
  text-align: left;
}
#recovery .recovery.sign .pos_2 .custom-control {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
#recovery .recovery.sign .pos_2 .dbl_button .text {
  display: flex;
  align-items: center;
}
#recovery .recovery.sign .pos_2 .dbl_button .text a {
  color: #00437c;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#recovery .recovery.sign .pos_3 {
  padding-left: 10px;
}
#recovery .copy {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
}
#recovery .copy .lang {
  display: flex;
  align-items: center;
}
#recovery .copy .lang input {
  color: #69809b;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  border: 0;
  width: 90px;
  margin: 0;
}
#recovery .copy .lang i {
  font-size: 12px;
  margin-left: -15px;
}
#recovery .copy div {
  display: flex;
  justify-content: space-between;
}
#recovery .copy .flex_menu {
  width: 50%;
  text-align: right;
}
#recovery .copy .flex_menu ul {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  margin: 0;
  align-items: center;
}
#recovery .copy .flex_menu ul li {
  list-style: none;
}
#recovery .copy .flex_menu ul li a {
  color: #69809b;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}
