@import 'button.less';
body {
    font-family: Roboto !important;
}

.color_red {
    color: #cf1939;
}

.color_yellow {
    color: #ffa800;
}

.color_green {
    color: #3f974c;
}

.dropdown-primary .dropdown-content li {
    width: 40px;
    overflow: hidden;
    margin: 0;
}
#petition .pos_1 .card .text .text_2 p,
#petition .pos_1 .card .text .text_2 span,
#petition .podpis,
#petition .comment{
    cursor: pointer !important ;
}

#footer {
    background: #eff4fa;
    padding: 40px 0;
    .footer {
        display: grid;
        grid-template-columns: 2fr 3fr 3fr 2fr;
        .text {
            p {
                color: #333333;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                span {
                    font-weight: 500;
                }
            }
        }
        .call {
            padding-left: 40px;
            p {
                color: #333333;
                font-family: Roboto;
                font-size: 36px;
                font-weight: 300;
                line-height: 20px;
            }
        }
        .help {
            color: #333333;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
            ul {
                padding: 0;
                margin: 0;
                li {
                    list-style: none;
                    a {
                        color: #69809b;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}

#petition {
    padding: 100px 0;
    .tab-content {
        width: 75%;
        box-shadow: none;
        padding: 0;
        &.card {
            padding: 0 !important;
            box-shadow: unset !important;
        }
        .card {
            width: 100%;
            display: grid;
            grid-template-columns: 3fr 1fr;
        }
        .tab-pane {
            display: grid;
            grid-gap: 30px;
        }
    }
    .nav-tabs {
        float: right;
        display: block;
        padding: 0;
        border-radius: 0;
        background: none;
        box-shadow: none;
        width: 25%;
        margin: 0;
        padding-left: 30px;
        li {
            text-align: left;
        }
        a {
            &.nav-link {
                &.active {
                    color: #00437c;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                    background-color: #ebf5ff;
                    border-radius: 0;
                }
                color: #9299a2;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
            }
        }
    }
    .pos_1 {
        .main_text {
            display: grid;
            align-items: center;
            grid-template-columns: 7fr 2fr;
            p {
                color: #333333;
                font-family: Roboto;
                font-size: 36px;
                font-weight: 300;
            }
            span {
                color: #333333;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
            }
        }
        .card {
            padding: 30px;
            box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04);
            background-color: #ffffff;
            border: 0;
            padding-right: 0;
            .text {
                padding-right: 45px;
                .text_1 {
                    display: grid;
                    grid-template-columns: 1fr 1fr 2fr;
                    width: 100%;
                    p {
                        color: #333333;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 26px;
                        margin: 0;
                    }
                    span {
                        color: #9299a2;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 26px;
                    }
                    li {
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 26px;
                    }
                }
                .text_2 {
                    p {
                        color: #333333;
                        font-family: Roboto;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 26px;
                    }
                    span {
                        color: #00437c;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 26px;
                    }
                }
                .text_3 {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 70%;
                    margin-top: 30px;
                    p {
                        color: #69809b;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 26px;
                        margin: 0;
                    }
                    .podpis {
                        display: flex;
                        align-items: center;
                        img {
                            margin-right: 10px;
                        }
                    }
                    .comment {
                        display: flex;
                        align-items: center;
                        img {
                            margin-right: 10px;
                        }
                    }
                }
            }
            .text_v2 {
                text-align: center;
                border-left: 1px solid #c2d1e6;
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    color: #9299a2;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 60px;
                }
                span {
                    color: #00437c;
                    font-family: Roboto;
                    font-size: 60px;
                    font-weight: 300;
                    line-height: 26px;
                }
                h3 {
                    color: #00437c;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 15px;
                }
            }
        }
    }
}

#as_work {
    padding: 70px 0;
    background: url(../img/back_1.png);
    background-size: cover;
    background-position: center;
    .container {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-gap: 50px;
        .pos_1 {
            .text {
                margin-top: 100px;
                p {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 36px;
                    font-weight: 300;
                }
                span {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 26px;
                }
            }
        }
        .pos_2 {
            .list {
                display: grid;
                grid-template-columns: 1fr 3fr 2fr;
                .img {
                    background: #fff;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 30px;
                }
                .text {
                    padding-right: 50px;
                    p {
                        color: #333333;
                        font-family: Roboto;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 26px;
                        margin-bottom: 10px;
                    }
                    span {
                        color: #333333;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 24px;
                    }
                }
                .text_1 {
                    p {
                        color: #333333;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                    span {
                        color: #00437c;
                        font-family: Roboto;
                        font-size: 48px;
                        font-weight: 300;
                        line-height: 26px;
                    }
                }
            }
            .line {
                height: 1px;
                background-color: #7ba0d6;
                width: 100%;
                margin: 30px 0;
            }
        }
    }
}

#header {
    padding: 140px 0;
    background: url(../img/back.png);
    background-size: cover;
    text-align: center;
    background-position: center;
    .text {
        p {
            color: #ffffff;
            font-family: Roboto;
            font-size: 48px;
            font-weight: 500;
            line-height: 58px;
            margin-bottom: 25px;
        }
        span {
            color: #ffffff;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
        }
        .button_red {
            margin-top: 65px;
            position: relative;
            left: 50%;
            transform: translate(-50%);
            .button_red();
        }
    }
}

#menu {
    .pos_1 {
        width: 100%;
        background: #0d4b80;
        height: 40px;
        .menu {
            display: grid;
            width: 40%;
            position: relative;
            grid-template-columns: 130px 130px 110px 1fr;
            height: 40px;
            float: right;
            .servic:nth-child(1) {
                p {
                    justify-content: center;
                }
                &:hover {
                    p {
                        background-color: #00437c;
                        color: #fff;
                    }
                }
            }
            .servic {
                p {
                    color: #ffffff;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 25px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    margin: 0;
                    cursor: pointer;
                    justify-content: center;
                }
                &:hover {
                    p {
                        background-color: #00437c;
                        color: #fff !important;
                    }
                }
                img {
                    margin-right: 10px;
                }
            }
            .colc {
                display: flex;
                align-items: center;
                height: 40px;
                justify-content: flex-end;
                img {
                    background: #fff;
                    padding: 5px;
                    border-radius: 30px;
                    cursor: pointer;
                }
            }
            .user {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                cursor: pointer;
                .img {
                    width: 33px;
                    height: 33px;
                    border-radius: 30px;
                    overflow: hidden;
                }
                i {
                    color: #fff;
                    margin-left: 5px;
                }
            }
        }
        &.pos_1_v2 {
            background-color: #ebf5ff;
            .menu {
                grid-template-columns: 2fr 2fr 3fr 60px 30px 70px;
                width: 50%;
                .servic {
                    p {
                        color: #424242;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
                .colc {
                    justify-content: center;
                    img {
                        background-color: #839db3;
                    }
                }
                .lang {
                    li {
                        list-style: none;
                        display: flex;
                        align-items: center;
                        color: #333333;
                        padding-right: 10px;
                        ul {
                            display: flex;
                            padding: 0;
                        }
                        i {
                            margin-left: -15px;
                        }
                    }
                    input {
                        margin: 0;
                        border: 0;
                        color: #333333;
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }
        }
    }
    .pos_2 {
        .menu {
            height: 80px;
            display: grid;
            grid-template-columns: 1fr 3fr;
            .logo {
                display: flex;
                align-items: center;
                height: 100%;
            }
            ul {
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                height: 100%;
                align-items: center;
                width: 100%;
                margin: 0;
                text-align: right;
                padding: 0;
                padding-left: 40px;
                li {
                    list-style: none;
                    color: #373737;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    position: relative;
                    i {
                        margin-left: -20px;
                    }
                    .mdb-select {
                        input {
                            margin: 0;
                            border: 0;
                            width: 60px;
                            color: #373737;
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 24px;
                        }
                        .caret {
                            display: none;
                        }
                        .dropdown-content {
                            height: auto;
                            width: auto !important;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}

#static {
    padding-bottom: 100px;
    background: url(../img/back_5.png);
    background-position: center;
    background-size: 140%;
    .static {
        .path {
            p {
                color: #9299a2;
                font-family: Roboto;
                font-size: 12px;
                font-weight: 400;
                padding-top: 30px;
                margin-bottom: 30px;
            }
            span {
                color: #333333;
                font-family: Roboto;
                font-size: 36px;
                font-weight: 300;
            }
        }
        .main_card_1 {
            display: grid;
            grid-template-columns: 33.2% 32% 32%;
            grid-gap: 30px;
            margin-top: 30px;
            .card {
                padding: 40px;
                p {
                    color: #00437c;
                    font-family: Roboto;
                    font-size: 60px;
                    font-weight: 300;
                    line-height: normal;
                    margin-bottom: 10px;
                }
                span {
                    color: #69809b;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
        .main_card_2 {
            display: grid;
            grid-template-columns: 33.33% 66.66%;
            grid-gap: 30px;
            margin-top: 30px;
            .card {
                padding: 40px;
                p {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 24px;
                    font-weight: 400;
                    margin-bottom: 25px;
                }
            }
            #news {
                padding: 0;
                .news {
                    .nav-tabs {
                        width: 80%;
                    }
                    .tab-content {
                        background: none;
                        padding: 20px 0;
                        .tab-pane {
                            height: 200px;
                            position: relative;
                            .text {
                                position: absolute;
                                top: 30px;
                                right: -30px;
                                display: grid;
                                grid-gap: 35px;
                                align-items: center;
                                p {
                                    color: #69809b;
                                    font-family: Roboto;
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 24px;
                                    margin: 0;
                                    img {
                                        margin-right: 5px;
                                    }
                                }
                                span {
                                    color: #333333;
                                    font-family: Roboto;
                                    font-size: 24px;
                                    font-weight: 500;
                                    line-height: 24px;
                                }
                            }
                        }
                        canvas {
                            left: -55px;
                            position: relative;
                        }
                    }
                }
            }
            .card {
                width: 100%;
                .diogram {
                    position: relative;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 30px;
                    width: 100%;
                    .dio_1 {
                        position: relative;
                        canvas {
                            left: -55px;
                            position: relative;
                        }
                    }
                    p {
                        color: #00437c;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 24px;
                        margin-bottom: 20px;
                    }
                    .text {
                        position: absolute;
                        top: 80px;
                        right: -30px;
                        display: grid;
                        grid-gap: 35px;
                        align-items: center;
                        p {
                            color: #69809b;
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 24px;
                            margin: 0;
                            img {
                                margin-right: 5px;
                            }
                        }
                        span {
                            color: #333333;
                            font-family: Roboto;
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
        .list {
            padding-top: 30px;
            width: 103%;
            p {
                color: #333333;
                font-family: Roboto;
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 30px;
            }
            .card {
                padding-right: 30px;
            }
            thead {
                tr {
                    th {
                        color: #9299a2;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 24px;
                        border: 0;
                    }
                    th:nth-child(1) {
                        width: 50%;
                    }
                }
            }
            tbody {
                border: 1px solid #e8e8e8;
                tr {
                    td:nth-child(1) {
                        color: #69809b;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 26px;
                        width: 50%;
                    }
                    td:nth-child(2) {
                        width: 25%;
                        color: #333333;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 26px;
                    }
                    td:nth-child(3) {
                        width: 25%;
                        color: #333333;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}

@media (max-width:1050px) {
    #menu {
        .pos_1 {
            .menu {
                width: 47%;
            }
        }
    }
    #amend {
        .amend {
            .card {
                &.card_v1 {
                    background-size: 180% !important;
                    .text {
                        .text_1 {
                            width: 65% !important;
                        }
                        .text_3 {
                            width: 50% !important;
                        }
                    }
                }
                .text {
                    .text_3 {
                        width: 100% !important;
                    }
                    .text_1 {
                        width: 100% !important;
                        grid-template-columns: 1fr 1fr 2fr;
                    }
                    .text_2 {
                        p {
                            padding: 0;
                        }
                    }
                }
            }
            .main_card {
                .result {
                    grid-template-columns: 1fr 1fr !important;
                }
            }
            .comment_glo {
                #petition {
                    .nav-tabs {
                        width: 65% !important;
                    }
                }
            }
        }
    }
}

@media (max-width:780px) {
    #menu {
        .pos_1 {
            .menu {
                width: 63%;
            }
        }
    }
    #as_work {
        .container {
            padding: 0;
            .pos_2 {
                .list {
                    .text {
                        padding-right: 10px;
                    }
                    .text_1 {
                        span {
                            font-size: 35px;
                        }
                    }
                }
            }
        }
    }
    #petition {
        .pos_1 {
            .main_text {
                grid-template-columns: 3fr 2fr;
            }
            .card {
                .text {
                    padding-right: 8px;
                }
            }
        }
        .tab-content {
            width: 100%;
        }
        .nav-tabs {
            float: none;
            display: flex;
            width: 93%;
            text-align: right;
        }
    }
    #footer {
        .footer {
            grid-template-columns: 1fr 2fr 1fr;
            .text {
                display: none;
            }
        }
    }
}

@media (max-width:430px) {
    #menu {
        .pos_1 {
            .menu {
                width: 100%;
                grid-template-columns: 100px 100px 135px 60px;
            }
        }
        .pos_2 {
            .menu {
                .menu_ul {
                    ul {
                        display: none;
                    }
                }
            }
        }
    }
    #as_work {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 40px;
        .container {
            display: block;
            .pos_1 {
                .text {
                    margin: 0;
                    text-align: center;
                    margin-bottom: 30px;
                }
            }
        }
    }
    #petition {
        padding: 50px 0;
        .nav-tabs {
            width: 100%;
            padding: 0;
            
        }
        .pos_1 {
            .card {
                padding-left: 0;
                .text {
                    .text_1 {
                        grid-template-columns: 1fr;
                        margin-bottom: 10px;
                    }
                    .text_3 {
                        display: block;
                    }
                }
            }
        }
    }
    #footer {
        .footer {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width:380px) {
    #menu {
        .pos_1 {
            .menu {
                grid-template-columns: 100px 100px 80px 60px;
            }
        }
    }
    #header {
        padding: 100px 0;
        .text {
            p {
                font-size: 35px;
                line-height: 49px;
            }
        }
    }
    #footer {
        .footer {
            grid-template-columns: 1fr;
            grid-gap: 30px;
            text-align: center;
            .call {
                padding: 0;
                .button_blue {
                    position: relative;
                    left: 50%;
                    transform: translate(-50%);
                }
            }
        }
    }
}

@media (max-width:325px) {
    #menu {
        .pos_1 {
            .menu {
                grid-template-columns: 80px 85px 65px 60px;
                .servic {
                    p {
                        font-size: 12px;
                    }
                }
            }
            .main {
                grid-template-columns: 100px 100px 35px 60px;
                .servic {
                    p {
                        font-size: 12px;
                    }
                }
            }
            .text {
                p {
                    font-size: 30px;
                    margin-bottom: 5px;
                }
            }
        }
    }
    #as_work {
        .container {
            .pos_1 {

            }
            .pos_2 {
                .list {
                    grid-template-columns: 1fr;
                    text-align: center;
                    grid-gap: 20px;
                    .img {
                        position: relative;
                        left: 50%;
                        transform: translate(-50%);
                    }
                }
            }
        }
    }
    #petition {
        .nav-tabs{
            display: block;
        }
        .pos_1 {
            .card {
                padding: 20px 0;
                grid-template-columns: 1fr;
                .text_v2 {
                    border: 0;
                    border-top: 1px solid #c2d1e6;
                }
            }
        }
        .nav-tabs {
            li {
                text-align: center;
                a {
                    padding: 5px;
                }
            }
        }
    }
}