.dbl_button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.button_red {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 62px rgba(196, 71, 86, 0.5);
  border-radius: 2px;
  background-color: #c44756;
  cursor: pointer;
  transition: all .4s;
}
.button_red p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}
.button_red:hover {
  border: 1px solid #c44756;
  background: #fff;
}
.button_red:hover p {
  color: #c44756;
}
.button_red_v2 {
  width: 260px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: #c44756;
  cursor: pointer;
  transition: all .4s;
}
.button_red_v2 p {
  color: #ffffff !important;
  font-family: Roboto;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  margin: 0 !important;
}
.button_red_v2:hover {
  background: #902e3a;
}
.button_blue {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: #00437c;
  cursor: pointer;
  transition: all .4s;
  color: #ffffff !important;
  font-family: Roboto;
  font-size: 16px !important;
}
.button_blue p {
  color: #ffffff !important;
  font-family: Roboto;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  margin: 0 !important;
}
.button_blue a {
  color: #fff;
}
.button_blue:hover {
  background-color: #005196;
}
.button_blue:hover p {
  color: #fff;
}
.button_blue:hover a {
  color: #fff;
}
.button_white {
  width: 200px;
  height: 50px;
  border: 1px solid #333333;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  cursor: pointer;
}
.button_white p {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.button_white a {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.button_regis {
  height: 35px;
  border-radius: 2px;
  border: 1px solid #00437c;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.button_regis:hover {
  background: #0285f828;
}
.button_regis a {
  color: #00437c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 0 25px;
}
.comment {
  display: flex;
  align-items: center;
}
.comment img {
  margin-right: 10px;
}
.comment p {
  color: #69809b !important;
  font-family: Roboto;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 26px !important;
}
.plus_red {
  width: 90px;
  height: 50px;
  background-color: #ffe6e9;
}
.plus_red p {
  color: #c44756 !important;
  font-family: Roboto;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 25px;
}
.plus_red img {
  margin-right: 7px;
}
.plus_green {
  width: 90px;
  height: 50px;
  background-color: #d9fee7;
}
.plus_green p {
  color: #00ac84 !important;
  font-family: Roboto;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 25px;
}
.plus_green img {
  margin-right: 7px;
}
.plus_red_v2 {
  cursor: pointer;
}
.plus_red_v2 p {
  color: #69809b !important;
  font-family: Roboto;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
}
.plus_red_v2 p img {
  width: 17px;
  margin-right: 5px;
}
.plus_green_v2 {
  cursor: pointer;
}
.plus_green_v2 p {
  color: #69809b !important;
  font-family: Roboto;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
}
.plus_green_v2 p img {
  width: 17px;
  margin-right: 5px;
}
.dio_line p {
  color: #00437c !important;
  font-family: Roboto;
  font-size: 16px !important;
  font-weight: 400 !important;
  margin-bottom: 10px !important;
}
.dio_line span {
  color: #69809b !important;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400 !important;
  line-height: 24px !important;
}
.dio_line .line {
  display: flex;
  position: relative;
  width: 100%;
  height: 15px;
  align-items: center;
}
.dio_line .line p {
  color: #333333 !important;
  font-family: Roboto;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 24px !important;
  margin: 0;
  margin: 0 !important;
  margin-left: 5px !important;
}
.dio_line .line .green_line {
  border-radius: 3px;
  background-color: #00ac84;
  height: 5px;
  width: 65%;
}
.dio_line .line .green_red {
  border-radius: 3px;
  background-color: #ef818a;
  height: 5px;
  width: 35%;
}
.line_blue {
  width: 100%;
  height: 1px;
  background-color: #7ba0d6;
}
.number {
  width: 50px;
  height: 50px;
  background-color: #ebf5ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.number p {
  color: #00437c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}
body {
  font-family: Roboto !important;
}
.color_red {
  color: #cf1939;
}
.color_yellow {
  color: #ffa800;
}
.color_green {
  color: #3f974c;
}
.dropdown-primary .dropdown-content li {
  width: 40px;
  overflow: hidden;
  margin: 0;
}
#petition .pos_1 .card .text .text_2 p,
#petition .pos_1 .card .text .text_2 span,
#petition .podpis,
#petition .comment {
  cursor: pointer !important ;
}
#footer {
  background: #eff4fa;
  padding: 40px 0;
}
#footer .footer {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 2fr;
}
#footer .footer .text p {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
#footer .footer .text p span {
  font-weight: 500;
}
#footer .footer .call {
  padding-left: 40px;
}
#footer .footer .call p {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  line-height: 20px;
}
#footer .footer .help {
  color: #333333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
#footer .footer .help ul {
  padding: 0;
  margin: 0;
}
#footer .footer .help ul li {
  list-style: none;
}
#footer .footer .help ul li a {
  color: #69809b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}
#petition {
  padding: 100px 0;
}
#petition .tab-content {
  width: 75%;
  box-shadow: none;
  padding: 0;
}
#petition .tab-content.card {
  padding: 0 !important;
  box-shadow: unset !important;
}
#petition .tab-content .card {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
#petition .tab-content .tab-pane {
  display: grid;
  grid-gap: 30px;
}
#petition .nav-tabs {
  float: right;
  display: block;
  padding: 0;
  border-radius: 0;
  background: none;
  box-shadow: none;
  width: 25%;
  margin: 0;
  padding-left: 30px;
}
#petition .nav-tabs li {
  text-align: left;
}
#petition .nav-tabs a.nav-link {
  color: #9299a2;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
#petition .nav-tabs a.nav-link.active {
  color: #00437c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  background-color: #ebf5ff;
  border-radius: 0;
}
#petition .pos_1 .main_text {
  display: grid;
  align-items: center;
  grid-template-columns: 7fr 2fr;
}
#petition .pos_1 .main_text p {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
}
#petition .pos_1 .main_text span {
  color: #333333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
#petition .pos_1 .card {
  padding: 30px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  border: 0;
  padding-right: 0;
}
#petition .pos_1 .card .text {
  padding-right: 45px;
}
#petition .pos_1 .card .text .text_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  width: 100%;
}
#petition .pos_1 .card .text .text_1 p {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}
#petition .pos_1 .card .text .text_1 span {
  color: #9299a2;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#petition .pos_1 .card .text .text_1 li {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}
#petition .pos_1 .card .text .text_2 p {
  color: #333333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
#petition .pos_1 .card .text .text_2 span {
  color: #00437c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#petition .pos_1 .card .text .text_3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin-top: 30px;
}
#petition .pos_1 .card .text .text_3 p {
  color: #69809b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  margin: 0;
}
#petition .pos_1 .card .text .text_3 .podpis {
  display: flex;
  align-items: center;
}
#petition .pos_1 .card .text .text_3 .podpis img {
  margin-right: 10px;
}
#petition .pos_1 .card .text .text_3 .comment {
  display: flex;
  align-items: center;
}
#petition .pos_1 .card .text .text_3 .comment img {
  margin-right: 10px;
}
#petition .pos_1 .card .text_v2 {
  text-align: center;
  border-left: 1px solid #c2d1e6;
  display: flex;
  align-items: center;
  justify-content: center;
}
#petition .pos_1 .card .text_v2 p {
  color: #9299a2;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
}
#petition .pos_1 .card .text_v2 span {
  color: #00437c;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 300;
  line-height: 26px;
}
#petition .pos_1 .card .text_v2 h3 {
  color: #00437c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}
#as_work {
  padding: 70px 0;
  background: url(../img/back_1.png);
  background-size: cover;
  background-position: center;
}
#as_work .container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 50px;
}
#as_work .container .pos_1 .text {
  margin-top: 100px;
}
#as_work .container .pos_1 .text p {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
}
#as_work .container .pos_1 .text span {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#as_work .container .pos_2 .list {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
}
#as_work .container .pos_2 .list .img {
  background: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
#as_work .container .pos_2 .list .text {
  padding-right: 50px;
}
#as_work .container .pos_2 .list .text p {
  color: #333333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 10px;
}
#as_work .container .pos_2 .list .text span {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
#as_work .container .pos_2 .list .text_1 p {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
#as_work .container .pos_2 .list .text_1 span {
  color: #00437c;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
  line-height: 26px;
}
#as_work .container .pos_2 .line {
  height: 1px;
  background-color: #7ba0d6;
  width: 100%;
  margin: 30px 0;
}
#header {
  padding: 140px 0;
  background: url(../img/back.png);
  background-size: cover;
  text-align: center;
  background-position: center;
}
#header .text p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 500;
  line-height: 58px;
  margin-bottom: 25px;
}
#header .text span {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
#header .text .button_red {
  margin-top: 65px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 62px rgba(196, 71, 86, 0.5);
  border-radius: 2px;
  background-color: #c44756;
  cursor: pointer;
  transition: all .4s;
}
#header .text .button_red p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}
#header .text .button_red:hover {
  border: 1px solid #c44756;
  background: #fff;
}
#header .text .button_red:hover p {
  color: #c44756;
}
#menu .pos_1 {
  width: 100%;
  background: #0d4b80;
  height: 40px;
}
#menu .pos_1 .menu {
  display: grid;
  width: 40%;
  position: relative;
  grid-template-columns: 130px 130px 110px 1fr;
  height: 40px;
  float: right;
}
#menu .pos_1 .menu .servic:nth-child(1) p {
  justify-content: center;
}
#menu .pos_1 .menu .servic:nth-child(1):hover p {
  background-color: #00437c;
  color: #fff;
}
#menu .pos_1 .menu .servic p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 0;
  cursor: pointer;
  justify-content: center;
}
#menu .pos_1 .menu .servic:hover p {
  background-color: #00437c;
  color: #fff !important;
}
#menu .pos_1 .menu .servic img {
  margin-right: 10px;
}
#menu .pos_1 .menu .colc {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: flex-end;
}
#menu .pos_1 .menu .colc img {
  background: #fff;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
}
#menu .pos_1 .menu .user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
#menu .pos_1 .menu .user .img {
  width: 33px;
  height: 33px;
  border-radius: 30px;
  overflow: hidden;
}
#menu .pos_1 .menu .user i {
  color: #fff;
  margin-left: 5px;
}
#menu .pos_1.pos_1_v2 {
  background-color: #ebf5ff;
}
#menu .pos_1.pos_1_v2 .menu {
  grid-template-columns: 2fr 2fr 3fr 60px 30px 70px;
  width: 50%;
}
#menu .pos_1.pos_1_v2 .menu .servic p {
  color: #424242;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
#menu .pos_1.pos_1_v2 .menu .colc {
  justify-content: center;
}
#menu .pos_1.pos_1_v2 .menu .colc img {
  background-color: #839db3;
}
#menu .pos_1.pos_1_v2 .menu .lang li {
  list-style: none;
  display: flex;
  align-items: center;
  color: #333333;
  padding-right: 10px;
}
#menu .pos_1.pos_1_v2 .menu .lang li ul {
  display: flex;
  padding: 0;
}
#menu .pos_1.pos_1_v2 .menu .lang li i {
  margin-left: -15px;
}
#menu .pos_1.pos_1_v2 .menu .lang input {
  margin: 0;
  border: 0;
  color: #333333;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
#menu .pos_2 .menu {
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
#menu .pos_2 .menu .logo {
  display: flex;
  align-items: center;
  height: 100%;
}
#menu .pos_2 .menu ul {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  height: 100%;
  align-items: center;
  width: 100%;
  margin: 0;
  text-align: right;
  padding: 0;
  padding-left: 40px;
}
#menu .pos_2 .menu ul li {
  list-style: none;
  color: #373737;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}
#menu .pos_2 .menu ul li i {
  margin-left: -20px;
}
#menu .pos_2 .menu ul li .mdb-select input {
  margin: 0;
  border: 0;
  width: 60px;
  color: #373737;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
#menu .pos_2 .menu ul li .mdb-select .caret {
  display: none;
}
#menu .pos_2 .menu ul li .mdb-select .dropdown-content {
  height: auto;
  width: auto !important;
  padding: 0;
}
#static {
  padding-bottom: 100px;
  background: url(../img/back_5.png);
  background-position: center;
  background-size: 140%;
}
#static .static .path p {
  color: #9299a2;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  padding-top: 30px;
  margin-bottom: 30px;
}
#static .static .path span {
  color: #333333;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
}
#static .static .main_card_1 {
  display: grid;
  grid-template-columns: 33.2% 32% 32%;
  grid-gap: 30px;
  margin-top: 30px;
}
#static .static .main_card_1 .card {
  padding: 40px;
}
#static .static .main_card_1 .card p {
  color: #00437c;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
}
#static .static .main_card_1 .card span {
  color: #69809b;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}
#static .static .main_card_2 {
  display: grid;
  grid-template-columns: 33.33% 66.66%;
  grid-gap: 30px;
  margin-top: 30px;
}
#static .static .main_card_2 .card {
  padding: 40px;
}
#static .static .main_card_2 .card p {
  color: #333333;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 25px;
}
#static .static .main_card_2 #news {
  padding: 0;
}
#static .static .main_card_2 #news .news .nav-tabs {
  width: 80%;
}
#static .static .main_card_2 #news .news .tab-content {
  background: none;
  padding: 20px 0;
}
#static .static .main_card_2 #news .news .tab-content .tab-pane {
  height: 200px;
  position: relative;
}
#static .static .main_card_2 #news .news .tab-content .tab-pane .text {
  position: absolute;
  top: 30px;
  right: -30px;
  display: grid;
  grid-gap: 35px;
  align-items: center;
}
#static .static .main_card_2 #news .news .tab-content .tab-pane .text p {
  color: #69809b;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}
#static .static .main_card_2 #news .news .tab-content .tab-pane .text p img {
  margin-right: 5px;
}
#static .static .main_card_2 #news .news .tab-content .tab-pane .text span {
  color: #333333;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}
#static .static .main_card_2 #news .news .tab-content canvas {
  left: -55px;
  position: relative;
}
#static .static .main_card_2 .card {
  width: 100%;
}
#static .static .main_card_2 .card .diogram {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  width: 100%;
}
#static .static .main_card_2 .card .diogram .dio_1 {
  position: relative;
}
#static .static .main_card_2 .card .diogram .dio_1 canvas {
  left: -55px;
  position: relative;
}
#static .static .main_card_2 .card .diogram p {
  color: #00437c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 20px;
}
#static .static .main_card_2 .card .diogram .text {
  position: absolute;
  top: 80px;
  right: -30px;
  display: grid;
  grid-gap: 35px;
  align-items: center;
}
#static .static .main_card_2 .card .diogram .text p {
  color: #69809b;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}
#static .static .main_card_2 .card .diogram .text p img {
  margin-right: 5px;
}
#static .static .main_card_2 .card .diogram .text span {
  color: #333333;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}
#static .static .list {
  padding-top: 30px;
  width: 103%;
}
#static .static .list p {
  color: #333333;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}
#static .static .list .card {
  padding-right: 30px;
}
#static .static .list thead tr th {
  color: #9299a2;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  border: 0;
}
#static .static .list thead tr th:nth-child(1) {
  width: 50%;
}
#static .static .list tbody {
  border: 1px solid #e8e8e8;
}
#static .static .list tbody tr td:nth-child(1) {
  color: #69809b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  width: 50%;
}
#static .static .list tbody tr td:nth-child(2) {
  width: 25%;
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
#static .static .list tbody tr td:nth-child(3) {
  width: 25%;
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
@media (max-width: 1050px) {
  #menu .pos_1 .menu {
    width: 47%;
  }
  #amend .amend .card.card_v1 {
    background-size: 180% !important;
  }
  #amend .amend .card.card_v1 .text .text_1 {
    width: 65% !important;
  }
  #amend .amend .card.card_v1 .text .text_3 {
    width: 50% !important;
  }
  #amend .amend .card .text .text_3 {
    width: 100% !important;
  }
  #amend .amend .card .text .text_1 {
    width: 100% !important;
    grid-template-columns: 1fr 1fr 2fr;
  }
  #amend .amend .card .text .text_2 p {
    padding: 0;
  }
  #amend .amend .main_card .result {
    grid-template-columns: 1fr 1fr !important;
  }
  #amend .amend .comment_glo #petition .nav-tabs {
    width: 65% !important;
  }
}
@media (max-width: 780px) {
  #menu .pos_1 .menu {
    width: 63%;
  }
  #as_work .container {
    padding: 0;
  }
  #as_work .container .pos_2 .list .text {
    padding-right: 10px;
  }
  #as_work .container .pos_2 .list .text_1 span {
    font-size: 35px;
  }
  #petition .pos_1 .main_text {
    grid-template-columns: 3fr 2fr;
  }
  #petition .pos_1 .card .text {
    padding-right: 8px;
  }
  #petition .tab-content {
    width: 100%;
  }
  #petition .nav-tabs {
    float: none;
    display: flex;
    width: 93%;
    text-align: right;
  }
  #footer .footer {
    grid-template-columns: 1fr 2fr 1fr;
  }
  #footer .footer .text {
    display: none;
  }
}
@media (max-width: 430px) {
  #menu .pos_1 .menu {
    width: 100%;
    grid-template-columns: 100px 100px 135px 60px;
  }
  #menu .pos_2 .menu .menu_ul ul {
    display: none;
  }
  #as_work {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 40px;
  }
  #as_work .container {
    display: block;
  }
  #as_work .container .pos_1 .text {
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
  }
  #petition {
    padding: 50px 0;
  }
  #petition .nav-tabs {
    width: 100%;
    padding: 0;
  }
  #petition .pos_1 .card {
    padding-left: 0;
  }
  #petition .pos_1 .card .text .text_1 {
    grid-template-columns: 1fr;
    margin-bottom: 10px;
  }
  #petition .pos_1 .card .text .text_3 {
    display: block;
  }
  #footer .footer {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 380px) {
  #menu .pos_1 .menu {
    grid-template-columns: 100px 100px 80px 60px;
  }
  #header {
    padding: 100px 0;
  }
  #header .text p {
    font-size: 35px;
    line-height: 49px;
  }
  #footer .footer {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    text-align: center;
  }
  #footer .footer .call {
    padding: 0;
  }
  #footer .footer .call .button_blue {
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
}
@media (max-width: 325px) {
  #menu .pos_1 .menu {
    grid-template-columns: 80px 85px 65px 60px;
  }
  #menu .pos_1 .menu .servic p {
    font-size: 12px;
  }
  #menu .pos_1 .main {
    grid-template-columns: 100px 100px 35px 60px;
  }
  #menu .pos_1 .main .servic p {
    font-size: 12px;
  }
  #menu .pos_1 .text p {
    font-size: 30px;
    margin-bottom: 5px;
  }
  #as_work .container .pos_2 .list {
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 20px;
  }
  #as_work .container .pos_2 .list .img {
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  #petition .nav-tabs {
    display: block;
  }
  #petition .pos_1 .card {
    padding: 20px 0;
    grid-template-columns: 1fr;
  }
  #petition .pos_1 .card .text_v2 {
    border: 0;
    border-top: 1px solid #c2d1e6;
  }
  #petition .nav-tabs li {
    text-align: center;
  }
  #petition .nav-tabs li a {
    padding: 5px;
  }
}
